= simple_form_for @speaker, :url => account_speaker_path(@speaker), :html => { :class => 'form-horizontal' } do |f|

  = f.input :email
  = f.input :name
  = f.input :city
  = f.input :company
  = f.input :show_as_participant
  = f.input :position

  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
