!!! XML
%MNT_RESPONSE
  %MNT_ID= @result.id
  %MNT_TRANSACTION_ID= @result.order_number
  %MNT_RESULT_CODE= @result.result_code
  %MNT_DESCRIPTION= @result.order_state
  %MNT_AMOUNT= @result.amount
  %MNT_SIGNATURE= @result.response_signature
