%dt.tabs__title.tab_button{ class: first_day_selected(day) }
  = Russian::strftime(day, "%e %B")
  %span
    = Russian::strftime(day, "- %A")
%dd.tabs__content{ class: first_day_selected(day)  }
  .programm__filter
    .programm__filter__checkboxs-title Выберите секцию:
    %ul.programm__filter__checkboxs
      %li
        %input#section-1.checkbox_type-2.schedule__filter{ type:"checkbox", name: "order_item", value:"Y", data: {lecture: "lecture__green"}}
        %label.checkbox_type-2-green{ for:"section-1"} Техническая секция
      %li
        %input#section-2.checkbox_type-2.schedule__filter{ type:"checkbox", name: "order_item", value:"Y", data: {lecture: "lecture__orange"}}
        %label.checkbox_type-2-orange{ for:"section-2"} Мобильная разработка
      %li
        %input#section-3.checkbox_type-2.schedule__filter{ type:"checkbox", name: "order_item", value:"Y", data: {lecture: "lecture__purple"}}
        %label.checkbox_type-2-purple{ for:"section-3"} Стартапы
      %li
        %input#section-4.checkbox_type-2.schedule__filter{ type:"checkbox", name: "order_item", value:"Y", data: {lecture: "lecture__yellow"}}
        %label.checkbox_type-2-yellow{ for:"section-4"} Digital- коммуникации
      %li
        %input#section-5.checkbox_type-2.schedule__filter{ type:"checkbox", name: "order_item", value:"Y", data: {lecture: "lecture__red"}}
        %label.checkbox_type-2-red{ for:"section-5"} Менеджмент
      %li
        %input#section-6.checkbox_type-2.schedule__filter{ type:"checkbox", name: "order_item", value:"Y", data: {lecture: "lecture__blue"}}
        %label.checkbox_type-2-blue{ for:"section-6"} IT-проекты
  .programm__schedule
    %table#april-12.page-1
      %thead
        %tr
          %th
            %span.programm__prev.disable{ data: { page: "1" }}
          - @halls.each do |hall|
            %th
              = hall.title
          %th
            %span.programm__next{ data: { page: "1" }}
      %tbody
        - (540...(19*60+15)).each_slice(5).to_a.each do |i|
          - i_time = DateTime.new(day.year, day.month, day.day, i.first / 60, i.first % 60, 0)
          - if not slots_in_time?(@slots, i_time)
            %tr.programm__schedule__mainaction
              = render "timeline", i_time: i_time
              - (1..@halls.count).each do
                %td
          - elsif @halls.first.has_begin_event?(i_time)
            %tr.programm__schedule__mainaction
              = render "timeline", i_time: i_time
              %td{ rowspan: @halls.first.slot_at_the_time(i_time).decorate.duration / 5, colspan: @halls.count }
                %h4
                  = @halls.first.slot_at_the_time(i_time).event.title
          - elsif @halls.first.has_event?(i_time)
            %tr
              = render "timeline", i_time: i_time
          - else
            %tr.programm__schedule__lecture
              = render "timeline", i_time: i_time
              = render "program_table_row", i_time: i_time
