- if slot.event.type.eql? 'UserEvent'
  .event{ class: "area-#{index} section-#{slot.event.workshop_id} start-#{slot.start_hour} offset-#{slot.start_offset} long-#{slot.duration}", data: {placement: (index < 4 ? "right" : "left"), trigger: "hover", toggle: "popover", html: 'true', original_title: slot.event.speaker.full_name, content: nl2br(slot.event.thesises) }}
    .time
      = slot.start_hour
      %sup= l slot.start_time, format: :minutes
      %span.end-time
        &minus;
        = slot.finish_time.hour
        %sup= l slot.finish_time, format: :minutes
    .caption= slot.event.title
    .author= slot.event.speaker.full_name
- else
  .event{ class: "area-#{index} start-#{slot.start_hour} offset-#{slot.start_offset} long-#{slot.duration} break" }
    .time
      = slot.start_hour
      %sup= l slot.start_time, format: :minutes
      %span.end-time
        &minus;
        = slot.finish_time.hour
        %sup= l slot.finish_time, format: :minutes
    .caption= slot.event.title