%a.event{ class: "area-#{index} start-#{slot.start_hour} offset-#{slot.start_offset} long-#{slot.duration} break" }
  %span.time
    = slot.start_hour
    %sup= l slot.start_time, format: :minutes
    %span.end-time
      &minus;
      = slot.finish_time.hour
      %sup= l slot.finish_time, format: :minutes
  %span.caption= slot.event.title