.modal.hide.fade{id: dom_id(slot), "aria-hidden" => "true", "aria-labelledby" => "#{dom_id(slot)}myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3{id: "#{dom_id(slot)}myModalLabel"}
      = slot.event.user.full_name
  .modal-body
    %p= nl2br(slot.event.thesises)

%a.event{ class: "area-#{index} section-#{slot.event.workshop_id} start-#{slot.start_hour} offset-#{slot.start_offset} long-#{slot.duration}", data: {toggle: 'modal'}, href: "##{dom_id(slot)}", role: "button"}
  %span.summary
    %span.time
      = slot.start_hour
      %sup= l slot.start_time, format: :minutes
      %span.end-time
        &minus;
        = slot.finish_time.hour
        %sup= l slot.finish_time, format: :minutes
    %span.caption
      = slot.event.title
    %span.author= slot.event.user.full_name
