.modal.hide.fade{id: dom_id(slot), "aria-hidden" => "true", "aria-labelledby" => "#{dom_id(slot)}myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3{id: "#{dom_id(slot)}myModalLabel"}
      = slot.event.user.full_name
  .modal-body
    %p= nl2br(slot.event.thesises)

.modal.hide.fade{id: "#{dom_id(slot)}__author_info", "aria-hidden" => "true", "aria-labelledby" => "#{dom_id(slot)}myModalLabel__author_info", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3{id: "#{dom_id(slot)}myModalLabel__author_info"}
      = slot.event.user.full_name
  .modal-body
    .userinfo
      .pull-left.userpic
        = image_tag(slot.event.user.photo.url)
      = slot.event.user.about
      .clearfix

.event{ class: "area-#{index} start-#{slot.start_hour} offset-#{slot.start_offset} long-#{slot.duration}", style: "background-color: #{slot.event.workshop.try(:color)}"}
  %span.summary

    %span.time
      = slot.start_hour
      %sup= l slot.start_time, format: :minutes
      %span.end-time
        &minus;
        = slot.finish_time.hour
        %sup= l slot.finish_time, format: :minutes

    %span.buttons-group.lectures-at-schedule
      - if signed_in?
        = link_to api_lecture_listener_votings_path(slot.event), class: (slot.event.listener_votings.voted_by?(current_user)) ?  "vote-link action-unvote" : "vote-link action-vote", remote: true, method: (slot.event.listener_votings.voted_by?(current_user)) ? "delete" : "post" do
          %span.btn.btn-state.btn-vote.btn-shine= t('.i_am_going')
          %span.btn.btn-state.btn-vote-hover.btn-shine= t('.i_am_going')
          %span.btn.btn-state.btn-pending.btn-no-clickable= t('.pending')
          %span.btn.btn-state.btn-unvote= t('.you_are_voted')
          %span.btn.btn-state.btn-unvote-hover= t('.unvote')
      -else
        %span.btn.btn-no-clickable= t('.they_going')

      %span.btn.votings-count.btn-no-clickable
        = slot.event.listener_votings.size

    %a.caption{data: {toggle: 'modal'}, href: "##{dom_id(slot)}", role: "button"}
      = slot.event.title
    %a.author{data: {toggle: 'modal'}, href: "##{dom_id(slot)}__author_info", role: "button"}
      = slot.event.user.full_name
    %span.company
      (
      = slot.event.user.company
      )
