.programm__schedule__lectures__lecture{ class: "#{lecture.workshop_color}", id: "lecture-#{lecture.id}"}
  %h4.lecture__lecturer
    = lecture.slot.start_time.to_time.strftime("%H:%M")
    \-
    = lecture.slot.finish_time.to_time.strftime("%H:%M")
  %h4.lecture__lecturer
    = lecture.user.decorate.full_name
  %span.lecture__company
    = lecture.user.company
  %p.lecture__desc
    = lecture.title
