%h1 Программа

.schedule-legend
  .row
    .item.span3
      .color-box{style: 'background-color: #009900;'}
      .title Программирование
    .item.span3
      .color-box{style: 'background-color: #000099;'}
      .title IT-Startups
    .item.span3
      .color-box{style: 'background-color: #990000;'}
      .title SEO
    .item.span3
      .color-box{style: 'background-color: #006600;'}
      .title Очень длинная секция, занимает несколько строк, ну мало ли, бывает и такое
    .item.span3
      .color-box{style: 'background-color: #660000;'}
      .title Секциядлялюдейсоченьсломаннымпробеломнавсехклавиатурах
    .item.span3
      .color-box{style: 'background-color: #000066;'}
      .title Абстрактно-понятные классы
    .item.span3
      .color-box{style: 'background-color: #003300;'}
      .title Абстрактно-непонятные классы
    .item.span3
      .color-box{style: 'background-color: #330000;'}
      .title Корпускулярный и волновой дуализм
    .item.span3
      .color-box{style: 'background-color: #000033;'}
      .title По волнам памяти Иосифа Кобзона
    .item.span3
      .color-box{style: 'background-color: #009900;'}
      .title Новый диск Аркадия Укупника

.tabbable
  %ul.nav.nav-tabs
    %li.active= link_to 'Пятница, 12 апреля', '#conf-day-1', data: { toggle: 'tab' }
    %li= link_to 'Суббота, 13 апреля', '#conf-day-2', data: { toggle: 'tab' }

.tab-content
  .tab-pane.active#conf-day-1
    %h3 Пятница, 12 апреля
    .awesome-timetable
      = render 'halls'
      .clearfix

      .timeline
        .b-quart
          .lined
          9
          %sup
            00
        .b-quart
          .lined
          10
          %sup
            00

      .timepad
        .event.full-event.area-1.start-0.long-15
          .time
            %span.end-time
              9
              %sup 00
              &minus;
              10
              %sup 00
          Регистрация
        .event.full-event.area-1.start-0.long-15.offset-15
          .time
            %span.end-time
              10
              %sup 00
              &minus;
              10
              %sup 45
          Торжественное открытие
      .clearfix

      = render 'timeline', start_hour: 11, end_hour: 19

      .timepad
        - @halls.each_with_index do |hall, i|
          .area-container{ class: "area-#{i + 1}-container" }
            .area-name #{hall}
            - hall.slots.for_day(configus.schedule.first_day).asc_by_created_at.each do |slot|
              = render slot.event_type.underscore, slot: slot, index: i + 1

      .clearfix
      .timeline
        .b-quart
          .lined
          19
          %sup
            00
      .timepad
        .event.full-event.area-1.start-0.long-15
          %small
            .time
              19
              %sup 00
              &minus;
              02
              %sup 00
          Афтепати.
      .clearfix

  .tab-pane#conf-day-2
    %h3 Суббота, 13 апреля
    .awesome-timetable
      = render 'halls'
      .clearfix

      .timeline
        .b-quart
          .lined
          10
          %sup
            00
      .timepad
        .event.full-event.area-1.start-0.long-15
          .time
            %span.end-time
              10
              %sup 00
              &minus;
              11
              %sup 00
          Выставка.
      .clearfix

      = render 'timeline', start_hour: 11, end_hour: 17

      .timepad
        - @halls.each_with_index do |hall, i|
          .area-container{ class: "area-#{i + 1}-container" }
            - hall.slots.for_day(configus.schedule.second_day).asc_by_start_time.each do |slot|
              = render slot.event_type.underscore, slot: slot, index: i + 1
      .clearfix

      .timeline
        .b-quart
          .lined
          17
          %sup
            00
      .timepad
        .event.full-event.area-1.start-0.long-15
          .time
            %span.end-time
              17
              %sup 00
              &minus;
              17
              %sup 30
          Закрытие конференции.
      .clearfix