%h1 Программа

.tabbable
  %ul.nav.nav-tabs
    %li.active= link_to 'Пятница, 12 апреля', '#conf-day-1', data: { toggle: 'tab' }
    %li= link_to 'Суббота, 13 апреля', '#conf-day-2', data: { toggle: 'tab' }

.tab-content
  .tab-pane.active#conf-day-1
    %h3 Пятница, 12 апреля
    .awesome-timetable
      = render 'halls'
      .clearfix
      = render 'timeline'

      .timepad
        .event.full-event.area-1.start-10.long-30
          Регистрация
        .event.full-event.area-1.start-10.offset-30.long-30
          Торжественное открытие

        - @halls.each_with_index do |hall, i|
          .area-container{ class: "area-#{i + 1}-container" }
            .area-name #{hall}
            - hall.slots.for_day(configus.schedule.first_day).asc_by_created_at.each do |slot|
              = render 'event', slot: slot, index: i + 1

        .event.full-event.area-1.start-20.offset-30.long-30
          Закрытие. Афтепати.
      .clearfix

  .tab-pane#conf-day-2
    %h3 Суббота, 13 апреля
    .awesome-timetable
      = render 'halls'
      .clearfix
      = render 'timeline'

      .timepad

        - @halls.each_with_index do |hall, i|
          .area-container{ class: "area-#{i + 1}-container" }
            - hall.slots.for_day(configus.schedule.second_day).asc_by_start_time.each do |slot|
              = render 'event', slot: slot, index: i + 1

        .event.full-event.area-1.start-20.offset-30.long-30
          Закрытие. Афтепати.
      .clearfix