= simple_form_for [:admin, @event], :html => { :class => 'form-horizontal' } do |f|

  = f.input :title, input_html: { class: 'span7' }
  = f.input :state_event, as: :state_event, input_html: { class: 'span7' }
  = f.input :thesises, input_html: { class: 'span7' } #, as: :ckeditor
  = f.input :presentation, as: :file_download
  
  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
    = link_to t('.cancel'), admin_user_events_path, :class => 'btn'
