= simple_form_for [:admin, @event], :html => { :class => 'form-horizontal' } do |f|

  = f.input :title      
  = f.input :state_event, as: :state_event
  = f.input :thesises, as: :ckeditor
  = f.input :presentation
  = link_to t('.presentation_link'), @event.presentation.url
  
  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
    = link_to t('.cancel'), admin_user_events_path, :class => 'btn'
