.page-header
  %h1=t '.title'
%table.table.table-striped
  %thead
    %tr
      %th= UserEvent.human_attribute_name :title
      %th= UserEvent.human_attribute_name :speaker
      %th= UserEvent.human_attribute_name :state
      %th= t '.actions'
  %tbody
    - @events.each do |event|
      %tr
        %td= link_to event.title, edit_admin_user_event_path(event)
        %td= link_to event.speaker, edit_admin_user_path(event.speaker)
        %td= event.human_state_name
        %td
          = link_to t('.edit'), edit_admin_user_event_path(event), :class => 'btn btn-mini'
          - if event.can_move_to_voting?
            = link_to t('.move_to_voting'), admin_user_event_change_state_path(event, event: :move_to_voting), method: :put, :class => 'btn btn-mini'
          - if event.can_reject?
            = link_to t('.reject'), admin_user_event_change_state_path(event, event: :reject), method: :put, :class => 'btn btn-mini'