%h1=t('.events20')
%h5 Если у вас в копилке есть сумасшедший доклад и вам есть о чем рассказать ИТ-общественности, предложите его и выступите на конференции.
%br

- if @lectures.empty?
  Пока не добавлено ни одного доклада. Вы можете
  = link_to "стать первым докладчиком.", new_account_lecture_path

- else
  .row.workshop
    .span3
      %ul.nav.nav-list.b-affix
        - workshops.each do |workshop|
          = item :li, workshop, user_lectures_path(workshop_id_eq: workshop.id)

    .span9
      - @lectures.each do |lecture|
        .row.workshop
          .span6
            .col-l.thin
              .pic
                - if lecture.user.photo.url
                  = image_tag(lecture.user.photo.url)
            .col-r
              .sinfo
                %h5= lecture.user.full_name
                %h6
                  %strong= lecture.user.company
                .buttons-group{ data: { success: t('.already_voted') } }
                  -if signed_in?
                    - if lecture.lecture_votings.voted_by?(current_user)
                      .btn.btn-no-clickable= t('.already_voted')
                    - else
                      = link_to t('.vote_this_lecture'), api_lecture_lecture_votings_path(lecture), remote: true, method: :post, class: 'vote-event btn btn-shine'
                  -else
                    .btn.btn-no-clickable= t('.they_voted')
                  %span.btn.votings-count.btn-no-clickable
                    = lecture.lecture_votings.size
                -#.social
                -#  %a.tip{"data-original-title" => "Facebook", :href => "#"}
                -#    %i.icon-facebook.facebook
            .clearfix
          .span6
            %h4= lecture.title
            %P.ainfo= nl2br lecture.thesises
        %hr
    .clearfix
