.pagetitle
  .layout-line
    %h1.pagetitle__title= t '.events20'
    .pagetitle__select.pagetitle__select__lecture
      = select_tag :filter_by_workshop, options_for_select([["Все доклады", " "]] + @workshops.collect{ |w| [w.title, w.id, {'data-icon' => w.icon}]}), class: "custom_select"
    %h5
      = t('.user_lectures_title_before_link')
      = succeed ',' do
        = link_to t(".user_lectures_title_link"), 'mailto:pr@nastachku.ru'
      = t('.user_lectures_title_after_link')
    %br

.content.lectures
  .layout-line
    %ul#lectures.lectures__items
      = render 'lectures'
