.page-header
  %h1=t('.title')
  
.well
  %h3= t(".preview")
  = form_tag preview_admin_mailers_path, html: { class: 'nomargin' } do |f|
    .row-fluid
      .span4
        = text_field_tag :subject, nil, placeholder: t(".subject"), class: "wide-input"
    .row-fluid
      .span12
        = text_area_tag :mail_content, nil, rows: 5, placeholder: t(".mail_content"), class: "wide-input"
    .row-fluid
      .span4
        = submit_tag t(".send"), class: "btn btn-primary"

.well
  Отослать только админам
  %h4
    = t '.count_of_receiving_mail', users_count: @admins_size
  = form_tag broadcast_to_admins_admin_mailers_path, html: { class: 'nomargin' } do |f|
    .row-fluid
      .span4
        = text_field_tag :subject, nil, placeholder: t(".subject"), class: "wide-input"
    .row-fluid
      .span12
        = text_area_tag :mail_content, nil, rows: 5, placeholder: t(".mail_content"), class: "wide-input"
    .row-fluid
      .span4
        = submit_tag t(".send"), class: "btn btn-primary"
        
.well
  Отослать всем пользователям
  %h4
    = t '.count_of_receiving_mail', users_count: @users_size
  = form_tag broadcast_admin_mailers_path, html: { class: 'nomargin' } do |f|
    .row-fluid
      .span4
        = text_field_tag :subject, nil, placeholder: t(".subject"), class: "wide-input"
    .row-fluid
      .span12
        = text_area_tag :mail_content, nil, rows: 5, placeholder: t(".mail_content"), class: "wide-input"
    .row-fluid
      .span4
        = submit_tag t(".send"), class: "btn btn-primary"

.well
  Отослать пользователям базы, еще не подтвердивших своё участие на этой стачке
  %h4
    = t '.count_of_receiving_mail', users_count: @attended_users_size
  = form_tag broadcast_to_not_attended_admin_mailers_path, html: { class: 'nomargin' } do |f|
    .row-fluid
      .span4
        = text_field_tag :subject, nil, placeholder: t(".subject"), class: "wide-input"
    .row-fluid
      .span4
        = text_field_tag :begin_of_greetings, nil, placeholder: t(".begin_of_greetings"), class: "wide-input"
      .span4
        %h4.text-center
          \%username%
      .span4
        = text_field_tag :end_of_greetings, nil, placeholder: t(".end_of_greetings"), class: "wide-input"
    .row-fluid
      .span12
        = text_area_tag :mail_content, nil, rows: 5, placeholder: t(".mail_content"), class: "wide-input"
    .row-fluid
      .span4
        = text_field_tag :before_link, nil, placeholder: t(".before_link"), class: "wide-input"
      .span4
        %h4.text-center
          \%link%
      .span4
        = text_field_tag :after_link, nil, placeholder: t(".after_link"), class: "wide-input"
    .row-fluid
      .span8
        = text_field_tag :goodbye, nil, placeholder: t(".goodbye"), class: "wide-input"
      .span4
        = submit_tag t(".send"), class: "btn btn-primary"
        
  %h3= t(".preview")
  %strong
    = t(".subject")
    \:
  %span#subject_preview
    
  = render file: "./user_mailer/conference_is_open"
