= simple_form_for [:account, @ticket_order], html: { class: 'form-horizontal profile-form' } do |f|
  - if bought_first_day?
    first
    = f.input :day, as: :radio_buttons, collection: [:second]
  - elsif bought_second_day?
    second
    = f.input :day, as: :radio_buttons, collection: [:first]
  - else
    = f.input :day, as: :radio_buttons
  = f.input :user_id, as: :hidden, input_html: { value: current_user.id }
  = f.input :items_count, as: :hidden, input_html: { value: 1 }
  = f.submit t('.buy'), class: 'btn btn-shine'
