= bootstrap_flash
.cont.title
  Купить билеты на Стачку 2015
.cont
  = simple_form_for @form, as: :order, url: buy_now_path, method: :post do |f|
    .line
      %table.price_calc
        %tbody
          %tr
            %td
              Билет на стачку
            %td
              = f.input :tickets, label: false, input_html: {class: 'price-select', onchange: "changeTicketPrice(this.value);"}, as: :select, collection: (0..10).map { |i| [i, i] }, selected: @order.tickets.length
            %td.price
              %span#ticketPrice{data: {price: Pricelist.ticket_price}}= Pricelist.ticket_price
              = image_tag 'web/promo/rubl.png', class: 'rubl_medium'
          %tr
            %td
              Билет на Афтепати
            %td
              = f.input :afterparty_tickets, label: false, input_html: {class: 'price-select', onchange: "changeAfterpartyPrice(this.value);"}, as: :select, collection: (0..10).map { |i| [i, i] }, selected: @order.afterparty_tickets.length
            %td.price
              %span#afterpartyPrice{data: {price: Pricelist.afterparty_ticket_price}}= Pricelist.afterparty_ticket_price
              = image_tag 'web/promo/rubl.png', class: 'rubl_medium'
    .line
      %table.price_calc
        %tbody

          - if @order.has_active_campaign?
            %tr#campaign_discount
              %td{colspan: 2}
                = "Скидка по акции "
                %span#campaign_name= "“#{@order.campaign.name}”:"
              %td.price
                %span#campaign_discount_value= price_format(@order.campaign_discount_value)
                = image_tag 'web/promo/rubl.png', class: 'rubl_medium'
          - else
            %tr#campaign_discount{style: "display: none;"}
              %td{colspan: 2}
                = "Скидка по акции "
                %span#campaign_name
              %td.price
                %span#campaign_discount_value
                = image_tag 'web/promo/rubl.png', class: 'rubl_medium'

          - if @order.coupon
            %tr#coupon_discount
              %td{colspan: 2}
                = "Скидка #{@order.coupon.discount}% по промо-коду “#{@order.coupon.code}”:"
              %td.price
                %span#coupon_discount_value= price_format(@order.coupon_discount_value)
                = image_tag 'web/promo/rubl.png', class: 'rubl_medium'
          %tr
            %td
              ИТОГО:
            %td
            %td.price
              %span#total-price= price_format(@order.cost)
              = image_tag 'web/promo/rubl.png', class: 'rubl_medium'
    .pay_information
      .pay_col1
        .pay_information_title
          Данные покупателя
        -# .wrapper
        -#   %input#radio-1.radio{:checked => "checked", :name => "radioFace", :type => "radio", :value => "forFizicFace"}/
        -#   %label{:for => "radio-1"} Физическое лицо
        -#   %br/
        -#   %input#radio-2.radio{:name => "radioFace", :type => "radio", :value => "forYuricFace"}/
        -#   %label{:for => "radio-2"} Юридическое лицо
        = f.input :name, label: false, placeholder:  "ФИО / Название организации", input_html: {class: 'input_type-1'}, error: false
        -# .forYuricFace
        -#   %input.input_type-1{:placeholder => "ИНН", :type => "text", :value => ""}/
        %div
          = f.input :phone, label: false, placeholder: 'Телефон', input_html: {class: 'input_type-1', type: 'tel'}, error: false
          = f.input :email, label: false, placeholder: 'E-mail', input_html: {class: 'input_type-1', type: 'email'}, error: false
          -# %br/
          -# .check-block
          -#   %input#checkbox3.css-checkbox{:checked => "checked", :type => "checkbox"}/
          -#   %label.css-label.lite-red-check{:for => "checkbox3", :name => "checkbox2_lbl"} Активировать автоматически (покупаю себе)
      .pay_col2
        .pay_information_title
          Вид оплаты
        .wrapper.pay_view
          -# .forYuricFace
          -#   %input#radio_pay-1.radio_pay{:name => "radio_pay", :type => "radio"}/
          -#   %label{:for => "radio_pay-1"} Cчет
          -#   %br/
          .forFizicFace
            =# radio_button_tag 'payment_system', 'platidoma', false, class: 'radio_pay'
            =# label_tag 'payment_system_platidoma', 'Платидома'
            = radio_button_tag 'payment_system', 'payanyway', true, class: 'radio_pay'
            = label_tag 'payment_system_payanyway', 'PayAnyWay'
          .forFizicFace
            = radio_button_tag 'payment_system', 'platidoma', false, class: 'radio_pay'
            = label_tag 'payment_system_platidoma', 'Платидома'
        = f.button :submit, "Оплатить", class: 'inputSubmit2', onclick: "try{ga('send', 'event', 'tickets', 'buy');}catch(e){}"

  = simple_form_for @form, url: coupons_path, method: :post do
    %table.kupon
      %tbody
        %tr
          %td.first_kup
            Промо-код
          %td
            %input.input_type-1.kup_inp{name: :coupon, :placeholder => "", :type => "text", :value => @order.coupon.try(:code)}/
          %td.but
            %input.inputSubmit{:type => "submit", :value => "Применить"}/
