.page-header
  %h1=t '.title'

.row
  .span3
    = link_to t('.new'), new_admin_lecture_path, class: 'btn btn-primary'
  .span3
    = link_to t('.download_lecture_list'), report_admin_lectures_path, class: 'btn btn-warning'
%br

.container
  .row
    .well.span12
      = search_form_for @search, url: admin_lectures_path, method: :get do |f|
        .span2.span-nomargin= f.input_field :title_cont, placeholder: Lecture.human_attribute_name(:title), label: false, required: false, class: 'span2'
        .span2= f.input_field :user_id_in, as: :chosen_select, collection: User.web, placeholder: Lecture.human_attribute_name(:user), label: false, required: false, class: 'span2 span-nomargin'
        .span2= f.input_field :state_in, as: :chosen_select, collection: Lecture.state_machine.states.map { |s| [s.human_name, s.name] }, placeholder: Lecture.human_attribute_name(:state), label: false, required: false, class: 'span2 span-nomargin'
        .span2= f.input_field :workshop_id_in, as: :chosen_select, collection: Workshop.web,  placeholder: Lecture.human_attribute_name(:workshop), label: false, required: false, class: 'span2 span-nomargin'
        .span1= f.submit t(".search"), :class => 'btn btn-info'

= paginate @lectures

%table.table.table-striped
  %thead
    %tr
      %th= sort_link(@search, :title)
      %th= sort_link(@search, :user_id, t(".lector"))
      %th= sort_link(@search, :state)
      %th= sort_link(@search, :workshop)
      %th= sort_link(@search, :listener_votings_count)
      %th= sort_link(@search, :lecture_votings_count)
      %th Голосов в фидбеке
      %th Средний голос
      %th= Lecture.human_attribute_name(:move_to_top)
      %th
  %tbody
    - @lectures.each do |lecture|
      %tr
        %td= link_to lecture.title, admin_lecture_path(lecture)
        - if lecture.user
          %td= link_to lecture.user, edit_admin_user_path(lecture.user)
        - else
          %td= "Нет лектора"
        %td= lecture.human_state_name
        %td= lecture.workshop.try(:title)
        %td= lecture.listener_votings.size
        %td= lecture.lecture_votings.size
        %td= lecture.feedbacks.size
        %td= lecture.average_feedback_vote
        %td= bool_mark(lecture.move_to_top)
        %td
          .pull-right.btn-group
            = link_to edit_admin_lecture_path(lecture), class: 'btn btn-mini' do
              %i.icon-pencil
= paginate @lectures

.row
  .span4
    = link_to t('.new'), new_admin_lecture_path, class: 'btn btn-primary'
