.pagetitle
  .layout-line
    %h1.pagetitle__title
      =t '.add_event'
.content
  .layout-line
    = simple_form_for @user, url: account_lectures_path, method: :post do |f|
      - if @user.errors.any?
        - @user.errors.full_messages.each do |msg|
          %li
            = msg
      %ul.form__group.one_column_form
        %li.form__element
          = f.input :about, label: false, placeholder: User.human_attribute_name(:about), class: 'user-summary'
        %li.form__element
          #events
            = f.simple_fields_for :lectures do |lecture|
              = render 'lecture_fields', f: lecture

          .btn-diff.clearfix
            .pull-left
              = f.submit t('.add_event'), class: "btn_main btn_main-reg"
            .pull-right
              = link_to_add_association f, :lectures, class: "btn", :'data-association-insertion-node' => '#events', :'data-association-insertion-method' => 'append' do
                %i.icon-plus
