.pagetitle
  .layout-line
    %h1.pagetitle__title
      =t '.add_event'
.content
  .layout-line
    = simple_form_for @user, url: account_lectures_path, method: :post do |f|
      - if @user.errors.any?
        - @user.errors.full_messages.each do |msg|
          %li
            = msg
      %ul.form__group.one_column_form
        .personal__userpic.photo_input_on_user_lectures_form
          .personal__userpic__img
            - if not @user.photo or @user.photo.to_s.empty?
              = image_tag "/assets/web/default-user-image.png"
            - else
              = image_tag @user.photo
          .personal__userpic__upload
            = f.input :photo, input_html: {style: "display: none;"}, label_html: {style: "display: none;"}
            %a#false_photo_input{ title: "Загрузить фотографию", href: "#"} Загрузить фотографию
            :javascript
              $(document).ready( function() {
                $('#false_photo_input').click(function(){
                  $("#user_photo").click();
                  return false;
                });
              });
        %li.form__element.about_input_on_user_lectures_form
          = f.input :about, label: false, placeholder: User.human_attribute_name(:about), class: 'user-summary'
        %li.form__element
          #events
            = f.simple_fields_for :lectures do |lecture|
              = render 'lecture_fields', f: lecture

          .btn-diff.clearfix
            .pull-left
              = f.submit t('.add_event'), class: "btn_main btn_main-reg"
            .pull-right
              = link_to_add_association f, :lectures, class: "btn", :'data-association-insertion-node' => '#events', :'data-association-insertion-method' => 'append' do
                %i.icon-plus
