%p
  = @begin_of_greetings
  = @user.decorate.full_name
  = @end_of_greetings
%p
  = @mail_content
%p
  = @before_link
  = link_to new_session_url, new_session_url(auth_token: @token)
  = @after_link
%p
  = @goodbye
