= simple_form_for [:admin, @hall], html: { class: 'form-horizontal hall-form' } do |f|

  .row
    .span9.well
      = f.input :state_event, as: :state_event, input_html: { class: 'span5' }
      = f.input :title, input_html: { class: 'span7' }

  %h3= t '.timeslots'
  #slots
    = f.simple_fields_for :slots do |slot|
      = render 'slot_fields', f: slot

  = link_to_add_association t('.add_slot'), f, :slots, class: "btn", data: { association_insertion_node: '#slots', association_insertion_method: 'append' }


  .form-actions
    = f.button :submit, class: 'btn btn-primary'
    = link_to t('.cancel'), admin_halls_path, class: 'btn'
