.row.nested-fields
  .span9.well
    = f.input :event_type, collection: Slot.event_type.options, include_blank: true, input_html: { class: 'span7 event-type-select span-nomargin' }
    = f.input :event_id, as: :events,  include_blank: true, input_html: { class: 'span7 event-id-select span-nomargin' }
    .control-group
      .control-label
        = t('.time_from_till')
      .controls
        .row-fluid
          .span4
            = f.input_field :start_time, as: :date_time_picker, class: 'span8 start_time', value: (f.object.start_time ? l(f.object.start_time, format: :full) : nil)
          .span4
            = f.input_field :finish_time, as: :date_time_picker, class: 'span8 finish_time', value: (f.object.finish_time ? l(f.object.finish_time, format: :full) : nil)
          .span4
            = link_to_remove_association t('.delete'), f, class: 'btn btn-danger'
