.page-header
  %h1=t '.title'

.row
  .span4
    = link_to t('.new'), new_admin_hall_path, class: 'btn btn-primary'

%br

%table.table.table-striped
  %thead
    %tr
      %th= Hall.human_attribute_name :title
      %th=t(".count_slots")
      %th
        .nowrap= News.human_attribute_name :created_at
      %th
  %tbody
    - @halls.each do |hall|
      %tr
        %td= link_to hall.title, edit_admin_hall_path(hall)
        %td= hall.slots.count
        %td
          .nowrap= l hall.created_at
        %td
          .pull-right.btn-group
            = link_to edit_admin_hall_path(hall), class: 'btn btn-mini' do
              %i.icon-pencil
            -#= link_to admin_hall_path(hall), class: 'btn btn-mini', method: :delete do
            -#  %i.icon-trash