= f.input :title      
= f.input :thesises, as: :ckeditor
= f.input :start_time, as: :date_time_picker
= f.input :finish_time, as: :date_time_picker
= f.association :workshop
= f.association :speaker
= f.input :presentation, as: :file_download

.form-actions
  = f.button :submit, :class => 'btn btn-primary'
  = link_to t('.cancel'), admin_workshops_path, :class => 'btn'

