.page-header
  %h1=t '.title'

.row
  .span4
    = link_to t('.new'), new_admin_event_path, class: 'btn btn-primary'

%br

%table.table.table-striped
  %thead
    %tr
      %th= Event.human_attribute_name :title
      %th= Event.human_attribute_name :state
      %th
  %tbody
    - @events.each do |event|
      %tr
        %td= event.title
        %td= event.human_state_name
        %td
          .pull-right.btn-group
            = link_to edit_admin_event_path(event), class: 'btn btn-mini' do
              %i.icon-pencil
            = link_to admin_event_path(event), method: :delete, :data => { :confirm => t('.confirm') },class: 'btn btn-mini' do
              %i.icon-trash