.page-header
  %h1=t '.title'

.span4
  = link_to t('.new'), new_admin_event_path, class: 'btn'
  = link_to t('.new_break'), new_admin_event_break_path, class: 'btn'
.span2.pull-right
  = link_to t('.workshops'), admin_workshops_path, class: 'btn btn-info'
  = link_to t('.halls'), admin_halls_path, class: 'btn btn-success'

%table.table.table-striped
  %thead
    %tr
      %th= BaseEvent.human_attribute_name :title
      %th= BaseEvent.human_attribute_name :speaker
      %th= BaseEvent.human_attribute_name :state
      %th= BaseEvent.human_attribute_name :workshop
      %th= UserEvent.human_attribute_name :listener_votings_count
      %th
  %tbody
    - @events.each do |event|
      %tr
        %td= event.title
        %td= event.try(:speaker) if event.respond_to? :speaker
        %td= event.human_state_name
        %td= event.workshop.try(:title)
        %td= event.listener_votings.size if event.respond_to? :listener_votings
        %td
          .pull-right.btn-group
            = link_to edit_admin_event_cpath(event), class: 'btn btn-mini' do
              %i.icon-pencil