.page-header
  %h1=t '.title'

.span9
  = link_to t('.new'), new_admin_event_path, class: 'btn btn-primary'
  = link_to t('.new_break'), new_admin_event_break_path, class: 'btn btn-danger'
.span2
  = link_to t('.workshops'), admin_workshops_path, class: 'btn btn-info'
  = link_to t('.halls'), admin_halls_path, class: 'btn btn-success'

%table.table.table-striped
  %thead
    %tr
      %th= BaseEvent.human_attribute_name :title
      %th= BaseEvent.human_attribute_name :start_time
      %th= t '.actions'
  %tbody
    - @events.each do |event|
      %tr
        %td= link_to event, [:edit, :admin, event]
        %td= l event.start_time if event.start_time
        %td
          = link_to t('.edit'), edit_admin_event_cpath(event), :class => 'btn btn-mini'