.page-header
  %h1=t('.title')

%table.table.table-striped
  %thead
    %tr
      %th= :id
      %th= :last_name
      %th= :first_name
      %th= :email
      %th= :city
      %th= :state
      %th= :timepad_state
      %th= :role
      %th= User::PromoCode.human_attribute_name :code
      %th= :created_at
      %th= t(".actions")
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.id, admin_user_path(user)
        %td= user.last_name
        %td= user.first_name
        %td= user.email
        %td= user.city
        %td= user.state
        %td= user.timepad_state
        %td= user.role
        %td= user.promo_code.code if user.promo_code
        %td= l user.created_at
        %td
          = link_to t('.edit'), edit_admin_user_path(user), class: 'btn btn-mini'
          = link_to t('.destroy'), admin_user_path(user), method: :delete, data: { confirm: t('.confirm') }, class: 'btn btn-mini btn-danger'

= link_to t('.new_user'), new_admin_user_path, class: 'btn btn-primary'
