.page-header
  %h1=t('.title')

%table.table.table-striped
  %thead
    %tr
      %th= :id
      %th= :last_name
      %th= :first_name
      %th= :email
      %th= :reason_to_give_ticket
      %th= :pay_part_state
      %th= t('.price')
      %td= :created_at
      %td= t('.actions')
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.id, admin_user_path(user)
        %td= user.last_name
        %td= user.first_name
        %td= user.email
        %td= user.reason_to_give_ticket
        %td= user.pay_state
        %td= user.ticket_price
        %td=l user.ticket_date
        %td
          - unless user.reason_to_give_ticket
            = link_to t('.accept'), "/admin/users_lists/#{@users_list.id}/#{user.id}", method: :put, class: 'btn btn-success btn-mini'
          - else
            = t('.accepted')
%h2
  = t('.other_users')
%table.table.table-striped
  - @other_users.each do |user|
    %tr
      %td
        = user[:"ФИО"]
      %td
        = user[:email]
      %td
        = user[:"Компания"]
