- if @lectures.any?
  .pagetitle.mainpage__title
    .layout-line
      %h1.pagetitle__title Самые лучшие спикеры
  .mainpage__speakers
    .layout-line
      %ul
        - @lectures.each do |lecture|
          %li
            .mainpage__speakers-img
              = image_tag lecture.lector.user_pic
              = lecture.workshop_color_icon
            .mainpage__speakers__about-mini
              %h4
                %b
                  = lecture.lector.reverse_full_name
                = lecture.lector.position
                = lecture.lector.company
            - if lecture.present?
              .mainpage__speakers__about
                %h4
                  = lecture.title
                %h5
                  = lecture.lector.position
                  = lecture.lector.company
                  ,
                  = lecture.lector.reverse_full_name
              .mainpage__speakers__desc
                %p.open_this
                  = lecture.thesises.first(140)
