- if @lectors.any?
  .pagetitle.mainpage__title
    .layout-line
      %h1.pagetitle__title Самые лучшие спикеры
  .mainpage__speakers
    .layout-line
      %ul
        - @lectors.each do |lector|
          %li
            .mainpage__speakers-img
              = image_tag lector.user_pic
              = lector.lector_section_color
            .mainpage__speakers__about-mini
              %h4
                %b
                  = lector.reverse_full_name
                = lector.position
                = lector.company
            - if lector.main_lecture.present?
              .mainpage__speakers__about
                %h4
                  = lector.main_lecture.title
                %h5
                  = lector.position
                  = lector.company
                  ,
                  = lector.reverse_full_name
              .mainpage__speakers__desc
                %p.open_this
                  = lector.main_lecture.thesises.first(140)
