.pagetitle.mainpage__title
  .layout-line
    %h1.pagetitle__title Основные секции
.mainpage__sections
  .layout-line
    %ul
      %li
        .mainpage__sections__cont
          .mainpage__sections-img
            = image_tag "section-d_big.png", alt: "Digital-коммуникации"
          .mainpage__sections-desc
            %h4.open_this Digital-коммуникации
            %p
              Креатив, дизайн, SMM, маркетинг, SEO, PR, PM, бренды.
      %li
        .mainpage__sections__cont
          .mainpage__sections-img
            = image_tag "section-t_big.png", alt: "Техническая"
          .mainpage__sections-desc
            %h4.open_this Техническая
            %p
              Методологии, разработка, highload, языки программирования и технологии, 
              облачные технологии, client­side, архитекрута кода и проектов.
      %li
        .mainpage__sections__cont
          .mainpage__sections-img
            = image_tag "section-m_big.png", alt: "Менеджмент"
          .mainpage__sections-desc
            %h4.open_this Менеджмент
            %p
              Организация IT-компании, управление, методологии и подходы к разработке.
      %li
        .mainpage__sections__cont
          .mainpage__sections-img
            = image_tag "section-mob_big.png"
          .mainpage__sections-desc
            %h4.open_this Мобильная разработка
            %p
              Платформы, технологии, рождение и жизнь приложений, мобильное проектирование, 
              концепции и тренды.
      %li
        .mainpage__sections__cont
          .mainpage__sections-img
            = image_tag "section-i_big.png"
          .mainpage__sections-desc
            %h4.open_this IT и государство
            %p
              Компании, образование и кадры, взаимодействие с  властью, польза ИТ для общества.
      %li
        .mainpage__sections__cont
          .mainpage__sections-img
            = image_tag "section-s_big.png"
          .mainpage__sections-desc
            %h4.open_this E-commerce 
            %p
              Платформы, мировые тренды, успешные кейсы, российский рынок электронной коммерции.

