.pagetitle.mainpage__title
  .layout-line
    %h1.pagetitle__title Основные секции
.mainpage__sections
  .layout-line
    %ul
      %li
        = link_to lectures_path(q: {workshop_id_eq: 10}), class: 'main_workshop_link' do
          .mainpage__sections__cont
            .mainpage__sections-img
              %i.sprite.sprite-section-d_big
            .mainpage__sections-desc
              %h4.open_this Digital-коммуникации
              %p
                Креатив, дизайн, SMM, маркетинг, SEO, PR, PM, бренды.
      %li
        = link_to lectures_path(q: {workshop_id_eq: 11}), class: 'main_workshop_link' do
          .mainpage__sections__cont
            .mainpage__sections-img
              %i.sprite.sprite-section-t_big
            .mainpage__sections-desc
              %h4.open_this Техническая
              %p
                Методологии, разработка, highload, языки программирования и технологии,
                облачные технологии, client­side, архитектура кода и проектов.
      %li
        = link_to lectures_path(q: {workshop_id_eq: 15}), class: 'main_workshop_link' do
          .mainpage__sections__cont
            .mainpage__sections-img
              %i.sprite.sprite-section-m_big
            .mainpage__sections-desc
              %h4.open_this Менеджмент и образование
              %p
                Организация IT-компании, управление, образование и кадры,
                методологии и подходы к разработке.
      %li
        = link_to lectures_path(q: {workshop_id_eq: 13}), class: 'main_workshop_link' do
          .mainpage__sections__cont
            .mainpage__sections-img
              %i.sprite.sprite-section-mob_big
            .mainpage__sections-desc
              %h4.open_this Мобильная разработка
              %p
                Платформы, технологии, рождение и жизнь приложений, мобильное проектирование,
                концепции и тренды.
      %li
        = link_to lectures_path(q: {workshop_id_eq: 14}), class: 'main_workshop_link' do
          .mainpage__sections__cont
            .mainpage__sections-img
              %i.sprite.sprite-section-i_big
            .mainpage__sections-desc
              %h4.open_this Контент
              %p
                Все о том как зарабатывать на контенте и благодаря контенту.
      %li
        = link_to lectures_path(q: {workshop_id_eq: 12}), class: 'main_workshop_link' do
          .mainpage__sections__cont
            .mainpage__sections-img
              %i.sprite.sprite-section-e_big
            .mainpage__sections-desc
              %h4.open_this E-commerce
              %p
                Платформы, мировые тренды, успешные кейсы, российский рынок электронной коммерции.

