%h1=t '.title'

= simple_form_for @user do |f|
  .row
    .span12
      .formy
        .row-fluid
          .span4
            = f.input :email

          .span4
            = f.input :password

          .span4
            = f.input :password_confirmation, :required => true

        .row-fluid
          .span4
            = f.input :show_as_participant, :input_html => { :checked => true }, :wrapper => :inline_checkbox
          .span6
            = f.input :process_personal_data, as: :boolean, :input_html => { :checked => true }, :wrapper => :inline_checkbox
      .formy
        %h5= t('personal_data')
        .row-fluid
          .span4
            = f.input :first_name
          
          .span4
            = f.input :last_name

          .span4
            = f.input :city

        .row-fluid
          .span4
            = f.input :company

          .span4
            = f.input :position

        = t('.already_registered?')
        = link_to t('.login'), new_session_path

      = f.button :submit, class: 'btn btn-shine'