.registration__form
  = simple_form_for @user do |f|
    .personal__userpic
      .personal__userpic__upload
        = f.input :photo, as: :image_preview, label: false
    .personal__info
      %ul.form__group
        %li.form__element
          = f.input :first_name, input_html: {class: "input_type-1"}, placeholder: "Имя"
        %li.form__element
          = f.input :last_name, input_html: {class: "input_type-1"}, placeholder: "Фамилия"
        %li.form__element
          = f.input :city, input_html: {class: "input_type-1"}, placeholder: "Город"
      %ul.form__group
        %li.form__element
          = f.input :company, input_html: {class: "input_type-1"}, placeholder: "Компания"
        %li.form__element
          = f.input :position, input_html: {class: "input_type-1"}, placeholder: "Должность"
      %ul.form__group
        %li.form__element
          = f.input :email, input_html: {class: "input_type-1"}, placeholder: "E-mail"
        %li.form__element
          = f.input :password, input_html: {class: "input_type-1"}, placeholder: "Придумайте пароль"
        %li.form__element
          = f.input :password_confirmation, required: true, input_html: {class: "input_type-1"}, placeholder: "Повторите пароль"
        %li.privacy_politics
          %input#privacy.checkbox_type-1{ name: "privacy_order", type: "checkbox" }
          %label.privacy_checkbox{ for: "privacy" }
            = t('.privacy_politics')
            = link_to t('.privacy_politics_document'), "/pages/privacy", target: "_blank"
    .personal__identity
      .personal__identity__number
        %h5 Информация
        .personal__information
          %p Участие в конференции – платное.

          %p
            Стоимость участия за оба дня конференции:
            %br
            %b
              = Pricelist.ticket_price
              рублей
          %p
            %b Условия допуска:
            %br
            Документ, удостоверяющий личность.
      .personal__identity__social
        %ul.form__group
          - f.with_options input_html: { class: "input_type-1" } do |f|
            %li.form__element.form__element__tw
              = f.input :twitter_name, placeholder: "vasilii_pupkin", label: false
            %li.form__element.form__element__fb
              = f.input :facebook, placeholder: "http://facebook.com", as: :string, label: false
            %li.form__element.form__element__vk
              = f.input :vkontakte, placeholder: "http://vk.com", as: :string, label: false
    .personal__submit
      = f.button :submit, id: "submit", class: 'btn_main btn_main-reg', type: "submit"
