%h1=t '.title'
%table.table.table-striped
  %thead
    %tr
      %th= User.human_attribute_name :name
      %th= User.human_attribute_name :city
      %th= User.human_attribute_name :company
      %th= User.human_attribute_name :position
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.city
        %td= user.company
        %td= user.position

