%h.pagetitle
  .layout-line
    %h1.pagetitle__title= t '.title'
    .pagetitle__select.pagetitle__select__members
      %select.custom_select
        %option{ selected: true } Все по алфавиту
        %option Все по должности
        %option Все по компании
        %option Все по городу
        %option Только докладчики
.members
  .layout-line
    - unless @users.empty?
      =t '.registred_title', activated_count: User.activated.attended.count, participant: Russian.p(User.activated.attended.shown_as_participants.count, t('.one_participant'), t('.two_participant'), t('.many_participant')), participants_count: User.activated.attended.shown_as_participants.count
      %ul.members__list
        - @users.shown_as_participants.each do |user|
          %li.members__list__item.members__list__item__alphabet.open_this
            .members__list__item__img
              %span.icon_section
              = image_tag user.decorate.user_pic
            .members__list__item__name= user
            .members__list__item__position= user.position
            .members__list__item__city= user.city.mb_chars.capitalize if user.city
            .members__list__item__social
              - unless user.twitter_name.blank?
                %a.social__icon.social__icon-tw{ title: "Твиттер", href: user.twitter_name}
              - unless user.facebook.blank?
                %a.social__icon.social__icon-fb{ title: "Фейсбук", href: user.facebook}
              - unless user.vkontakte.blank?
                %a.social__icon.social__icon-vk{ title: "Вконтакте", href: user.vkontakte}
    - else
      %h5
        = t '.zero_participants'
      = link_to t('.be_the_first'), new_user_path, class: 'btn btn-shine'

= javascript_include_tag "web/fancySelect"
:javascript
  jQuery(document).ready(function ($) {
    $('.custom_select').fancySelect();
  });
