%h1=t '.title'
%h5
  =t '.registred_title', activated_count: User.activated.count, participant: Russian.p(User.activated.shown_as_participants.count, t('.one_participant'), t('.two_participant'), t('.many_participant')), participants_count: User.activated.shown_as_participants.count
%br

%table.table-participants.table-participants-header
  %thead
    %tr
      %th{:width => "30%"}= sort_link(@search, :last_name, User.human_attribute_name(:first_name)) 
      %th{:width => "20%"}= sort_link(@search, :city, User.human_attribute_name(:city))
      %th{:width => "25%"}= sort_link(@search, :company, User.human_attribute_name(:company))
      %th{:width => "25%"}= sort_link(@search, :position, User.human_attribute_name(:position))

%table.table-participants
  %tbody
    - @users.each do |user|
      %tr
        %td{:width => "30%"}= user
        %td{:width => "20%"}= user.city.mb_chars.capitalize if user.city
        %td{:width => "25%"}= user.company
        %td{:width => "25%"}= user.position
