- model_class = User
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:email) + ': '
  = @user.email
%p
  %strong= model_class.human_attribute_name(:name) + ': '
  = @user.name
%p
  %strong= model_class.human_attribute_name(:city) + ': '
  = @user.city
%p
  %strong= model_class.human_attribute_name(:company) + ': '
  = @user.company
%p
  %strong= model_class.human_attribute_name(:position) + ': '
  = @user.position
%p
  %strong= model_class.human_attribute_name(:show_as_participant) + ': '
  = @user.show_as_participant ? t(".shown") : t(".not_shown")

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), users_path, :class => 'btn'
