.span12.workshop
  - @workshop.user_events.voted.asc_by_votings_count.each do |event|
    .row
      .span6
        .col-l
          .pic
            = image_tag(event.speaker.photo.url)
        .col-r
          .sinfo
            %h5= event.speaker.full_name
            %h6.grey= event.speaker.about
            .social
              %a.tip{"data-original-title" => "Facebook", :href => "#"}
                %i.icon-facebook.facebook
        .clearfix
      .span6
        %h4= event.title
        %p.ainfo= event.thesises.html_safe
        - unless current_user.voted?(event)
          = link_to t('.i_am_going'), event_vote_path(event), method: :post, class: 'btn btn-shine'
        - else
          .btn= t('.already_voted')
        %span.btn.votings-count= event.votings.size
    %hr