%h1=t(".lectors")

.row.workshop
  .span3
    %ul.nav.nav-list#section_submenu
      - topics.each do |topic|
        %li
          %a{href: "#"}= topic

  .span9
    - @lectors.each do |lector|
      .row-fluid
        .span4
          .pic
            - if lector.photo.url
              = image_tag(lector.photo.url)
        .span8
          %h5= lector.full_name
          %h6
            %strong= lector.company
          %p= lector.about
          -#.social
          -#  %a.tip{"data-original-title" => "Facebook", :href => "#"}
          -#    %i.icon-facebook.facebook
        .clearfix
      %hr
