%h1=t(".lectors")

.row.workshop
  .span3
    %ul.nav.nav-list.b-affix
      - workshops.each do |workshop|
        = item :li, workshop, lectors_path(lectures_workshop_id_eq: workshop.id)
  .span9
    - @lectors.each do |lector|
      %div{ id: "#{lector.id}" }
        .row-fluid
          .span4.s-info
            .col-l
              .pic
                = image_tag lector.user_pic
          .span8
            %h5= lector.decorate.full_name
            %h6
              %strong= lector.company
            %p= lector.about
          .clearfix
        %hr
