- model_name = User
#popup_auth.popup.popup__auth
  .popup__content
    = simple_form_for @auth_user, url: session_path(from: params[:from]), html: { class: 'popup__auth__form' } do |f|
      %h2.popup__title Войти на сайт
      = f.input :email, tabindex: 1, input_html: { value: @auth_email, class: "input_type-1"}, placeholder: model_name.human_attribute_name(:email), label_html: {style: "display: none;"}
      = f.input :password, tabindex: 2, input_html: {class: "input_type-1"}, placeholder: t('.password'), label_html: {style: "display: none;"}
      .popup__auth__form-forgot
        = link_to t('.forgot_password'), new_remind_password_path
      .popup__auth__form-enter
        = f.button :submit, value: t('.enter_site'), class: 'btn_main btn_main-auth', tabindex: 3
    .popup__auth__form-social
      %p
        = t('.auth_with_social')
      .popup__auth__form--links
        = link_to '', sign_in_via_social_network_cpath(:facebook), class: "social__icon social__icon-fb"
        = link_to '', sign_in_via_social_network_cpath(:vkontakte), class: "social__icon social__icon-vk"
        = link_to '', sign_in_via_social_network_cpath(:twitter), class: "social__icon social__icon-tw"
    .popup__auth__form-reg
      %p
        = t('.you_are_not_user_please_welcome')
      = link_to t('.registration'), new_user_path, title: t('.registration'), onclick: "try{ga('send', 'event', 'users', 'register');}catch(e){}"
  %span.popup__close.close_popup
