%header{ itemscope: "", itemtype: "http://schema.org/LocalBusiness" }
  .layout-line
    .header__logo
      .header__logo__cont
        .header__logo__cont-logo
          %a{ href: root_path, title: "Стачка!" }
            = image_tag "web/logo.png", alt: "Стачка!"
          %span
        .header__logo__cont-prev
          %a{ href: "http://2012.nastachku.ru", title: "2012", target: '_blank' } 2012
          %a{ href: "http://2013.nastachku.ru", title: "2013", target: '_blank' } 2013
          %a{ href: "http://2014.nastachku.ru", title: "2014", target: '_blank' } 2014
          %a{ href: "http://2015.nastachku.ru", title: "2015", target: '_blank' } 2015
    - unless signed_in?
      .header__links
        .header__links_container
          = link_to "Купить билет (#{Pricelist.ticket_price}р.)", buy_now_path
    %span.btn_main-menu
    %nav.header__nav
      %a{ href: lectures_path, title: "Доклады" } Доклады
      %a{ href: user_lectures_path, title: "Доклады 2.0" } Доклады 2.0
      %a{ href: schedule_path, title: "Программа" } Программа
      %a{ href: users_path, title: "Участники" } Участники
      %a{ href: social_wall_path, title: "#nastachku" } #nastachku
      %a{ href: contacts_path, title: "Контакты" } Контакты
    .header__login
      - unless signed_in?
        = content_tag :span, t(".login"), class: 'btn_main btn_main-auth open_popup', data: {popup: "auth"}, style: "color: white;"
      - if signed_in?
        .header__login__user
          .header__login__user-name
            = link_to current_user_decorate.reverse_full_name, edit_account_path
          .header__login__user-avatar
            %a{ href: '' }
              = link_to image_tag(current_user_decorate.user_pic), edit_account_path
          = link_to '', session_path, method: :delete, class: "header__login__user-logout"
