%header{ itemscope: "", itemtype: "http://schema.org/LocalBusiness" }
  .layout-line
    .header__logo
      .header__logo__cont
        .header__logo__cont-logo
          %a{ href: root_path, title: "Стачка!" }
            = image_tag "web/logo.png", alt: "Стачка!"
          %span
        .header__logo__cont-prev
          %a{ href: "http://2012.nastachku.ru", title: "2012" } 2012
          %a{ href: "http://2013.nastachku.ru", title: "2013" } 2013
    %span.btn_main-menu
    %nav.header__nav
      -# %a{ href: "/pages/social_wall", title: "#nastachku" } #nastachku
      %a{ href: lectures_path, title: "Доклады" } Доклады
      %a{ href: user_lectures_path, title: "Доклады 2.0" } Доклады 2.0
      %a{ href: schedule_path, title: "Программа" } Программа
      %a{ href: users_path, title: "Участники" } Участники
      %a{ href: "/pages/contacts", title: "Контакты" } Контакты
    .header__login
      - unless signed_in?
        = content_tag :span, t(".login"), class: 'btn_main btn_main-auth open_popup', data: {popup: "auth"}, style: "color: white;"
      - if signed_in?
        .header__login__user
          .header__login__user-name
            = link_to current_user_decorate.reverse_full_name, edit_account_path
          .header__login__user-avatar
            %a{ href: '' }
              = image_tag current_user_decorate.user_pic
          = link_to '', session_path, method: :delete, class: "header__login__user-logout"
