.pagetitle.mainpage__title.pagetitle__withoutborder
  .layout-line
    %h1.pagetitle__title Информационные партнёры
  .layout-line
    #info_partners_logos.company__logos.logos_carousel.touchcarousel
      %ul.touchcarousel-container
        %li.touchcarousel-item
          %div
          = link_to "http://netology.ru/?utm_medium=btl&utm_campaign=1095&utm_source=stachka1005", target: "_blank" do
            = image_tag "logos/netology.png"
        %li.touchcarousel-item
          %div
          = link_to "http://apps4all.ru", target: "_blank" do
            = image_tag "logos/apps4all.jpg"
        %li.touchcarousel-item
          %div
          = link_to "https://www.reg.ru/", target: "_blank" do
            = image_tag "logos/regru.png"
        %li.touchcarousel-item
          %div
          = link_to "http://www.ruward.ru",  target: "_blank" do
            = image_tag "logos/ruward.png"
        %li.touchcarousel-item
          %div
          = link_to "http://www.umi-cms.ru",  target: "_blank" do
            = image_tag "logos/umi-cms.png"
        %li.touchcarousel-item
          %div
          = link_to "http://www.jagajam.com/ru",  target: "_blank" do
            = image_tag "logos/jagajam.png"
        %li.touchcarousel-item
          %div
          = link_to "http://hh.ru",  target: "_blank" do
            = image_tag "logos/hh.png"
        %li.touchcarousel-item
          %div
          = link_to "http://www.tadviser.ru",  target: "_blank" do
            = image_tag "logos/tadviser.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://www.searchengines.ru/",  target: "_blank" do
            = image_tag "logos/searchengines.png"
        %li.touchcarousel-item
          %div
          = link_to "http://expomap.ru/",  target: "_blank" do
            = image_tag "logos/expomap.png"
        %li.touchcarousel-item
          %div
          = link_to "http://www.blizko.ru/",  target: "_blank" do
            = image_tag "logos/blizko.jpg"
