.pagetitle.mainpage__title.pagetitle__withoutborder
  .layout-line
    %h1.pagetitle__title Информационные партнёры
.mainpage__sponsors
  .layout-line
    #sponsors_logos.company__logos.logos_carousel.touchcarousel
      %ul.touchcarousel-container
        %li.touchcarousel-item
          %div
          = link_to "http://it73.ru" do
            = image_tag "logos/it73.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://e-pepper.ru" do
            = image_tag "logos/e-pepper.png"
        %li.touchcarousel-item
          %div
          = link_to "http://softline.ru" do
            = image_tag "logos/softline.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://job.simbirsoft.com/ruru/it_place/" do
            = image_tag "logos/it-place.png"
        %li.touchcarousel-item
          %div
          = link_to "http://dailycomm.ru" do
            = image_tag "logos/dailycomm.gif"
        %li.touchcarousel-item
          %div
          = link_to "http://1ul.ru" do
            = image_tag "logos/1ulru.jpeg"
        %li.touchcarousel-item
          %div
          = link_to "http://lifehacker.ru" do
            = image_tag "logos/lifehacker.png"
        %li.touchcarousel-item
          %div
          = link_to "http://simcat.ru/" do
            = image_tag "logos/simcat.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://www.cmsmagazine.ru/" do
            = image_tag "logos/cmsmagazine.gif"
        %li.touchcarousel-item
          %div
          = link_to "http://ulpressa.ru" do
            = image_tag "logos/ulpressa.png"
        %li.touchcarousel-item
          %div
          = link_to "http://www.superjob.ru/" do
            = image_tag "logos/superjob.gif"
        %li.touchcarousel-item
          %div
          = link_to "http://www.cnews.ru/" do
            = image_tag "logos/cnews.gif"
