.pagetitle.mainpage__title.pagetitle__withoutborder
  .layout-line
    %h1.pagetitle__title Информационные партнёры
  .layout-line
    #info_partners_logos.company__logos.logos_carousel.touchcarousel
      %ul.touchcarousel-container
        %li.touchcarousel-item
          %div
          = link_to "http://www.ruward.ru",  target: "_blank" do
            = image_tag "logos/ruward.png"
        %li.touchcarousel-item
          %div
          = link_to "http://about.tagline.ru/",  target: "_blank" do
            = image_tag "logos/tagline.png"
        %li.touchcarousel-item
          %div
          = link_to "http://netology.ru/?utm_medium=btl&utm_campaign=1095&utm_source=stachka1005", target: "_blank" do
            = image_tag "logos/netology.png"
        %li.touchcarousel-item
          %div
          = link_to "http://apps4all.ru", target: "_blank" do
            = image_tag "logos/apps4all.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://www.cossa.ru/", target: "_blank" do
            = image_tag "logos/cossa.png"
        %li.touchcarousel-item
          %div
          = link_to "https://www.reg.ru/", target: "_blank" do
            = image_tag "logos/regru.png"
        %li.touchcarousel-item
          %div
          = link_to "http://apptractor.ru/",  target: "_blank" do
            = image_tag "logos/apptractor.png"
        %li.touchcarousel-item
          %div
          = link_to "http://app2top.ru/",  target: "_blank" do
            = image_tag "logos/app2top.png"
        %li.touchcarousel-item
          %div
          = link_to "http://runet-id.com/",  target: "_blank" do
            = image_tag "logos/runet_id.png"
        %li.touchcarousel-item
          %div
          = link_to "http://www.umi-cms.ru",  target: "_blank" do
            = image_tag "logos/umi-cms.png"
        %li.touchcarousel-item
          %div
          = link_to "http://www.jagajam.com/ru",  target: "_blank" do
            = image_tag "logos/jagajam.png"
        %li.touchcarousel-item
          %div
          = link_to "http://hh.ru",  target: "_blank" do
            = image_tag "logos/hh.png"
        %li.touchcarousel-item
          %div
          = link_to "http://www.tadviser.ru",  target: "_blank" do
            = image_tag "logos/tadviser.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://www.searchengines.ru/",  target: "_blank" do
            = image_tag "logos/searchengines.png"
        %li.touchcarousel-item
          %div
          = link_to "http://expomap.ru/",  target: "_blank" do
            = image_tag "logos/expomap.png"
        %li.touchcarousel-item
          %div
          = link_to "http://www.blizko.ru/",  target: "_blank" do
            = image_tag "logos/blizko.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://12news.ru/",  target: "_blank" do
            = image_tag "logos/12news.jpg"
        %li.touchcarousel-item
          %div
          = link_to "https://expozilla.ru/",  target: "_blank" do
            = image_tag "logos/expozilla.png"
        %li.touchcarousel-item
          %div
          = link_to "http://ulv.rabota.ru/",  target: "_blank" do
            = image_tag "logos/rabota.gif"
        %li.touchcarousel-item
          %div
          = link_to "http://emagnat.ru/",  target: "_blank" do
            = image_tag "logos/emagnat.png"
        %li.touchcarousel-item
          %div
          = link_to "http://www.webnames.ru/",  target: "_blank" do
            = image_tag "logos/webnames.png"
        %li.touchcarousel-item
          %div
          = link_to "http://1ul.ru/",  target: "_blank" do
            = image_tag "logos/1ul.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://artsoda.ru/",  target: "_blank" do
            = image_tag "logos/soda.png"
        %li.touchcarousel-item
          %div
          = link_to "http://comaqa.by/",  target: "_blank" do
            = image_tag "logos/comaqa.png"
        %li.touchcarousel-item
          %div
          = link_to "http://www.crn.ru/",  target: "_blank" do
            = image_tag "logos/crn.gif"
        %li.touchcarousel-item
          %div
          = link_to "http://ict-online.ru/",  target: "_blank" do
            = image_tag "logos/ict-online.gif"
        %li.touchcarousel-item
          %div
          = link_to "http://www.retail-loyalty.org/",  target: "_blank" do
            = image_tag "logos/retail-loyalty.png"
        %li.touchcarousel-item
          %div
          = link_to "http://secon.ru/",  target: "_blank", style: "background-color: #315A98; height: 46px; width: 225px; display: inline-block; line-height: 42px;" do
            = image_tag "logos/secon.png"
        %li.touchcarousel-item
          %div
          = link_to "http://www.radio2x2.ru/",  target: "_blank" do
            = image_tag "logos/radio2x2.png"
        %li.touchcarousel-item
          %div
          = link_to "http://www.seonews.ru/",  target: "_blank" do
            = image_tag "logos/seonews.png"
        %li.touchcarousel-item
          %div
          = link_to "http://www.likeni.ru/",  target: "_blank" do
            = image_tag "logos/likeni.png"
        %li.touchcarousel-item
          %div
          = link_to "http://money73.ru/",  target: "_blank" do
            = image_tag "logos/money73.png"
        %li.touchcarousel-item
          %div
          = link_to "http://ulzapovednik.ru/",  target: "_blank" do
            = image_tag "logos/ulzapovednik.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://searchengineeducation.ru/",  target: "_blank" do
            = image_tag "logos/searchengineeducation.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://media73.ru/",  target: "_blank" do
            = image_tag "logos/media73.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://digitalhr.ru/",  target: "_blank" do
            = image_tag "logos/digitalhr.png"
        %li.touchcarousel-item
          %div
          = link_to "http://симбирск.рф/",  target: "_blank" do
            = image_tag "logos/simbirsk_rf.png"
        %li.touchcarousel-item
          %div
          = link_to "http://www.ultop.ru/",  target: "_blank" do
            = image_tag "logos/ultop.png"
        %li.touchcarousel-item
          %div
          = link_to "http://digibu.ru/",  target: "_blank" do
            = image_tag "logos/digibu.png"
        %li.touchcarousel-item
          %div
          = link_to "http://saas.ru/",  target: "_blank" do
            = image_tag "logos/saas.png"
        %li.touchcarousel-item
          %div
          = link_to "http://www.inmsu.ru/ru/",  target: "_blank" do
            = image_tag "logos/inmsu.png"
        %li.touchcarousel-item
          %div
          = link_to "http://www.in-numbers.ru/",  target: "_blank" do
            = image_tag "logos/innumbers.png"
        %li.touchcarousel-item
          %div
          = link_to "http://podfm.ru/",  target: "_blank" do
            = image_tag "logos/podfm.png"
        %li.touchcarousel-item
          %div
          = link_to "http://www.art-proffi.ru",  target: "_blank" do
            = image_tag "logos/artpro.png"
