.pagetitle.mainpage__title.pagetitle__withoutborder
  .layout-line
    %h1.pagetitle__title Генеральный информационный партнёр
  .layout-line
    #sponsors_logos.company__logos.logos_carousel.touchcarousel
      %ul.touchcarousel-container
        %li.touchcarousel-item
          %div
          = link_to "http://www.regnum.ru/", target: "_blank" do
            = image_tag "logos/regnum.gif"
.pagetitle.mainpage__title.pagetitle__withoutborder
  .layout-line
    %h1.pagetitle__title HR-партнёр
  .layout-line
    #sponsors_logos.company__logos.logos_carousel.touchcarousel
      %ul.touchcarousel-container
        %li.touchcarousel-item
          %div
          = link_to "http://itmozg.ru/", target: "_blank" do
            = image_tag "logos/HR_partners/itmozg.png"
        %li.touchcarousel-item
          %div
          = link_to "http://www.superjob.ru/", target: "_blank" do
            = image_tag "logos/HR_partners/superjob.gif"
.pagetitle.mainpage__title.pagetitle__withoutborder
  .layout-line
    %h1.pagetitle__title Партнёр по e-mail маркетингу
  .layout-line
    #sponsors_logos.company__logos.logos_carousel.touchcarousel
      %ul.touchcarousel-container
        %li.touchcarousel-item
          %div
          = link_to "http://www.epochta.ru/", target: "_blank" do
            = image_tag "logos/epochta.png"
.pagetitle.mainpage__title.pagetitle__withoutborder
  .layout-line
    %h1.pagetitle__title Партнёр по e-mail маркетингу
.mainpage__partner_on_email
  .layout-line
    #sponsors_logos.company__logos.logos_carousel.touchcarousel
      %ul.touchcarousel-container
        %li.touchcarousel-item
          %div
          = link_to "http://it-sobytie.ru/", target: "_blank" do
            = image_tag "logos/Event_partners/it-sobytie.jpg"
.pagetitle.mainpage__title.pagetitle__withoutborder
  .layout-line
    %h1.pagetitle__title Информационные партнёры
  .layout-line
    #sponsors_logos.company__logos.logos_carousel.touchcarousel
      %ul.touchcarousel-container
        %li.touchcarousel-item
          %div
          = link_to "http://it73.ru", target: "_blank" do
            = image_tag "logos/1st_line/it73.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://apps4all.ru/", target: "_blank" do
            = image_tag "logos/1st_line/apps4all.png"
        %li.touchcarousel-item
          %div
          = link_to "http://vk.com/tproger", target: "_blank" do
            = image_tag "logos/1st_line/horizontal.png"
        %li.touchcarousel-item
          %div
          = link_to "http://about.tagline.ru", target: "_blank" do
            = image_tag "logos/1st_line/tagline_logo.png"
        %li.touchcarousel-item
          %div
          = link_to "http://infostart.ru/", target: "_blank" do
            = image_tag "logos/1st_line/infostart.png"
        %li.touchcarousel-item
          %div
          = link_to "http://www.cmsmagazine.ru/", target: "_blank" do
            = image_tag "logos/2nd_line/cmsmagazine.png"
        %li.touchcarousel-item
          %div
          = link_to "http://lifehacker.ru", target: "_blank" do
            = image_tag "logos/2nd_line/lifehacker.png"
        %li.touchcarousel-item
          %div
          = link_to "http://www.cossa.ru/", target: "_blank" do
            = image_tag "logos/2nd_line/cossa.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://saas.ru", target: "_blank" do
            = image_tag "logos/2nd_line/saas.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://netology.ru/", target: "_blank" do
            = image_tag "logos/2nd_line/netology.png"
        %li.touchcarousel-item
          %div
          = link_to "http://yasnoponyatno.com", target: "_blank" do
            = image_tag "logos/3rd_line/yasnoponyatno.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://ultop.ru", target: "_blank" do
            = image_tag "logos/3rd_line/ultop_logo.png"
        %li.touchcarousel-item
          %div
          = link_to "http://e-pepper.ru", target: "_blank" do
            = image_tag "logos/Others/e-pepper.png"
        %li.touchcarousel-item
          %div
          = link_to "http://softline.ru", target: "_blank" do
            = image_tag "logos/Others/softline.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://job.simbirsoft.com/ruru/it_place/", target: "_blank" do
            = image_tag "logos/Otheres/it-place.png"
        %li.touchcarousel-item
          %div
          = link_to "http://dailycomm.ru", target: "_blank" do
            = image_tag "logos/Others/dailycomm.gif"
        %li.touchcarousel-item
          %div
          = link_to "http://1ul.ru", target: "_blank" do
            = image_tag "logos/Others/1ulru.jpeg"
        %li.touchcarousel-item
          %div
          = link_to "http://simcat.ru/", target: "_blank" do
            = image_tag "logos/Others/simcat.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://ulpressa.ru", target: "_blank" do
            = image_tag "logos/Others/ulpressa.png"
        %li.touchcarousel-item
          %div
          = link_to "http://www.cnews.ru/", target: "_blank" do
            = image_tag "logos/Others/cnews.gif"
        %li.touchcarousel-item
          %div
          = link_to "http://timeofnewz.ru/", target: "_blank" do
            = image_tag "logos/Others/timeofnewz.png"
        %li.touchcarousel-item
          %div
          = link_to "http://www.cs-cart.com/", target: "_blank" do
            = image_tag "logos/Others/cs-cart.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://www.mobiledevice.ru/", target: "_blank" do
            = image_tag "logos/Others/mobiledevice.png"
        %li.touchcarousel-item
          %div
          = link_to "http://astera.ru/", target: "_blank" do
            = image_tag "logos/Others/astera.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://www.searchengines.ru/", target: "_blank" do
            = image_tag "logos/Others/searchengines.png"
        %li.touchcarousel-item
          %div
          = link_to "http://www.seonews.ru/", target: "_blank" do
            = image_tag "logos/Others/seonews.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://probusinesstv.ru/", target: "_blank" do
            = image_tag "logos/Others/probusiness.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://24techno.ru/", target: "_blank" do
            = image_tag "logos/Others/24techno.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://www.klerk.ru/", target: "_blank" do
            = image_tag "logos/Others/klerk.gif"
        %li.touchcarousel-item
          %div
          = link_to "http://hungryshark.ru/", target: "_blank" do
            = image_tag "logos/Others/hungryshark.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://money73.ru", target: "_blank" do
            = image_tag "logos/webmoney.png"
        %li.touchcarousel-item
          %div
          = link_to "http://www.kv.by/", target: "_blank" do
            = image_tag "logos/Others/kv.png"
        %li.touchcarousel-item
          %div
          = link_to "http://ulvideo.ru/", target: "_blank" do
            = image_tag "logos/Others/show_city.png"
        %li.touchcarousel-item
          %div
          = link_to "http://ulbusiness.ru/", target: "_blank" do
            = image_tag "logos/Others/logo_ulbusiness.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://media73.ru/", target: "_blank" do
            = image_tag "logos/Others/media73.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://www.likeni.ru/", target: "_blank" do
            = image_tag "logos/Others/laikni.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://expomap.ru/", target: "_blank" do
            = image_tag "logos/Others/expo_map.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://12news.ru/", target: "_blank" do
            = image_tag "logos/Others/12news_4_270x.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://hackday.ru/", target: "_blank" do
            = image_tag "logos/Others/hackday.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://apptractor.ru/", target: "_blank" do
            = image_tag "logos/Others/logo_apptractor.png"
        %li.touchcarousel-item
          %div
          = link_to "http://www.ulstu.ru/", target: "_blank" do
            = image_tag "logos/Others/ulstu_logo.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://comprice.ru/", target: "_blank" do
            = image_tag "logos/Others/Logo_comprice.jpg"
