.pagetitle.mainpage__title.pagetitle__withoutborder
  .layout-line
    %h1.pagetitle__title Информационные партнёры
.mainpage__sponsors
  .layout-line
    #sponsors_logos.company__logos.logos_carousel.touchcarousel
      %ul.touchcarousel-container
        %li.touchcarousel-item
          %div
          = link_to "http://it73.ru" do
            = image_tag "logos/it73.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://infostart.ru/" do
            = image_tag "logos/infostart.png"
        %li.touchcarousel-item
          %div
          = link_to "http://e-pepper.ru" do
            = image_tag "logos/e-pepper.png"
        %li.touchcarousel-item
          %div
          = link_to "http://softline.ru" do
            = image_tag "logos/softline.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://job.simbirsoft.com/ruru/it_place/" do
            = image_tag "logos/it-place.png"
        %li.touchcarousel-item
          %div
          = link_to "http://dailycomm.ru" do
            = image_tag "logos/dailycomm.gif"
        %li.touchcarousel-item
          %div
          = link_to "http://1ul.ru" do
            = image_tag "logos/1ulru.jpeg"
        %li.touchcarousel-item
          %div
          = link_to "http://lifehacker.ru" do
            = image_tag "logos/lifehacker.png"
        %li.touchcarousel-item
          %div
          = link_to "http://simcat.ru/" do
            = image_tag "logos/simcat.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://www.cmsmagazine.ru/" do
            = image_tag "logos/cmsmagazine.gif"
        %li.touchcarousel-item
          %div
          = link_to "http://ulpressa.ru" do
            = image_tag "logos/ulpressa.png"
        %li.touchcarousel-item
          %div
          = link_to "http://www.superjob.ru/" do
            = image_tag "logos/superjob.gif"
        %li.touchcarousel-item
          %div
          = link_to "http://www.cnews.ru/" do
            = image_tag "logos/cnews.gif"
        %li.touchcarousel-item
          %div
          = link_to "http://timeofnewz.ru/" do
            = image_tag "logos/timeofnewz.png"
        %li.touchcarousel-item
          %div
          = link_to "http://yasnoponyatno.com" do
            = image_tag "logos/yasnoponyatno.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://itmozg.ru/" do
            = image_tag "logos/itmozg.png"
        %li.touchcarousel-item
          %div
          = link_to "http://www.cs-cart.com/" do
            = image_tag "logos/cs-cart.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://www.cossa.ru/" do
            = image_tag "logos/cossa.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://www.mobiledevice.ru/" do
            = image_tag "logos/mobiledevice.png"
        %li.touchcarousel-item
          %div
          = link_to "http://saas.ru" do
            = image_tag "logos/saas.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://it-sobytie.ru/" do
            = image_tag "logos/it-sobytie.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://astera.ru/" do
            = image_tag "logos/astera.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://www.epochta.ru/" do
            = image_tag "logos/epochta.png"
        %li.touchcarousel-item
          %div
          = link_to "http://www.searchengines.ru/" do
            = image_tag "logos/searchengines.png"
        %li.touchcarousel-item
          %div
          = link_to "http://www.seonews.ru/" do
            = image_tag "logos/seonews.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://www.regnum.ru/" do
            = image_tag "logos/regnum.gif"
        %li.touchcarousel-item
          %div
          = link_to "http://netology.ru/" do
            = image_tag "logos/netology.png"
        %li.touchcarousel-item
          %div
          = link_to "http://apps4all.ru/" do
            = image_tag "logos/apps4all.png"
        %li.touchcarousel-item
          %div
          = link_to "http://probusinesstv.ru/" do
            = image_tag "logos/probusiness.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://24techno.ru/" do
            = image_tag "logos/24techno.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://www.klerk.ru/" do
            = image_tag "logos/klerk.gif"
        %li.touchcarousel-item
          %div
          = link_to "http://hungryshark.ru/" do
            = image_tag "logos/hungryshark.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://money73.ru" do
            = image_tag "logos/webmoney.png"
        %li.touchcarousel-item
          %div
          = link_to "http://www.kv.by/" do
            = image_tag "logos/kv.png"
