.container.no-padding
  .navbar
    .navbar-inner.no-padding
      %a.btn.btn-navbar{ class: "btn btn-navbar",  :'data-toggle' => "collapse",  :'data-target' => ".nav-collapse" }
        %span Menu

      .nav-collapse.collapse
        %ul.nav.no-padding.main-menu{ role: "navigation" }
          - unless signed_in?
            = item :li, t(".i_will_go"), new_user_path

          %li{ class: "#{'active' if current_page?(users_path)}" }
            = navbar_link t(".participants"), users_path, with: User.activated.count

          -# = item :li, t(".schedule"), schedule_path
          -# = item :li, t(".news"), news_index_path
          -# = item :li, t('.lectors'), lectors_path

          -#FIXME написать хелпер для li.dropdown, по аналогии с "= item :li, ..."

          %li.dropdown{ class: "#{'active' if current_page?(lectors_path)}" }
            %a#lectors_link.dropdown-toggle{ href: "#", :"data-toggle" => "dropdown", role: "button" }
              = t(".lectors")
              %b.caret

            %ul.dropdown-menu{ role: "menu", :'aria-labelledby' => "lectors_link" }
              - topics.each do |topic|
                %li{ role: "presentation" }
                  = link_to topic, lectors_path(topics_id_eq: topic.id)

          = item :li, t(".routes"), page_path(:routes)
          = item :li, t(".contacts"), page_path(:contacts)
          -# = item :li, t(".afterparty"), page_path(:afterparty)

          = item :li, t('.lectures_20'), user_events_path

          -#%li.dropdown{ class: "#{'active' if current_page?(events_path)}" }
          -#  %a#lectures_link.dropdown-toggle{:href => "#", :"data-toggle" => "dropdown", :role => "button"}
          -#    = t(".lectures")
          -#    %b.caret
          -#  %ul.dropdown-menu{:role => "menu", :'aria-labelledby' => "lectures_link"}
          -#    - workshops.each do |w|
          -#      %li= link_to w, events_path(q: { workshop_id_eq: w.id })
