.container.no-padding#nav_main
  .navbar
    .navbar-inner.no-padding
      %a.btn.btn-navbar{ class: "btn btn-navbar",  :'data-toggle' => "collapse",  :'data-target' => ".nav-collapse" }
        %span= t(".menu")
      .nav-collapse.collapse
        %ul.nav.no-padding.main-menu{ role: "navigation" }
          - unless signed_in?
            = item :li, t(".i_will_go"), new_user_path

          %li{ class: "#{'active' if current_page?(users_path)}" }
            = navbar_link t(".participants"), users_path, with: User.activated.count

          = item :li, t(".schedule"), schedule_path
          = item :li, t(".lectors"), lectors_path
          = item :li, t(".lectures"), lectures_path
          = item :li, t('.lectures_20'), user_lectures_path
          = item :li, t(".routes"), page_path(:routes)
          = item :li, t(".contacts"), page_path(:contacts)