.container.no-padding
  .navbar
    .navbar-inner
      %a.btn.btn-navbar{ class: "btn btn-navbar",  :'data-toggle' => "collapse",  :'data-target' => ".nav-collapse" }
        %span Menu

      .nav-collapse.collapse
        %ul.nav.no-padding
          
          - if signed_in?
            %li= link_to t('.add_lecture'), new_user_event_path
          - else 
            %li= link_to t(".i_will_go"), new_user_path

          %li= navbar_link t(".participants"), users_path, with: User.activated.count
          / %li= link_to t(".news"), news_index_path
          -#%li= link_to t('.lectors'), lectors_path
          %li.dropdown
            = link_to "#", class: 'dropdown-toggle', :'data-toggle' => 'dropdown' do
              = t(".lectors")
              %b.caret

            %ul.dropdown-menu
              - topics.each do |topic|
                %li= link_to topic, lectors_path(q: { topics_id_eq: topic.id })


          %li= link_to t(".routes"), page_path(:routes)
          %li= link_to t(".contacts"), page_path(:contacts)
          / %li= link_to t(".afterpaty"), page_path(:afterpaty)
          %li= link_to t('.lectures_20'), events_path
          %li.dropdown
            = link_to t(".lectures"), "#", class: 'dropdown-toggle', :'data-toggle' => 'dropdown'
            %ul.dropdown-menu
              - workshops.each do |w|
                %li= link_to w, w
