.container.no-padding
  .navbar
    .navbar-inner.no-padding
      %a.btn.btn-navbar{ class: "btn btn-navbar",  :'data-toggle' => "collapse",  :'data-target' => ".nav-collapse" }
        %span Menu

      .nav-collapse.collapse
        %ul.nav.no-padding.main-menu{ role: "navigation" }
          - unless signed_in?
            %li{ class: "#{'active' if current_page?(new_user_path)}" }
              = link_to t(".i_will_go"), new_user_path

          %li{ class: "#{'active' if current_page?(users_path)}" }
            = navbar_link t(".participants"), users_path, with: User.activated.count
          / %li= link_to t(".news"), news_index_path
          / %li= link_to t('.lectors'), lectors_path
          %li.dropdown{ class: "#{'active' if current_page?(lectors_path)}" }
            %a#lectors_link.dropdown-toggle{ href: "#", :"data-toggle" => "dropdown", role: "button" }
              = t(".lectors")
              %b.caret

            %ul.dropdown-menu{ role: "menu", :'aria-labelledby' => "lectors_link" }
              - topics.each do |topic|
                %li{ role: "presentation" }
                  = link_to topic, lectors_path(q: { topics_id_eq: topic.id })

          %li{ class: "#{'active' if current_page?(page_path(:routes))}" }
            = link_to t(".routes"), page_path(:routes)
          %li{ class: "#{'active' if current_page?(page_path(:contacts))}" }
            = link_to t(".contacts"), page_path(:contacts)
          / %li= link_to t(".afterpaty"), page_path(:afterpaty)
          %li{ class: "#{'active' if current_page?(user_events_path)}" }
            = link_to t('.lectures_20'), user_events_path
          %li.dropdown{ class: "#{'active' if current_page?(events_path)}" }
            %a#lectures_link.dropdown-toggle{:href => "#", :"data-toggle" => "dropdown", :role => "button"}
              = t(".lectures")
              %b.caret
            %ul.dropdown-menu{:role => "menu", :'aria-labelledby' => "lectures_link"}
              - workshops.each do |w|
                %li= link_to w, events_path(q: { workshop_id_eq: w.id })
