.navbar
  .navbar-inner
    .container
      %a.btn.btn-navbar{ class: "btn btn-navbar",  :'data-toggle' => "collapse",  :'data-target' => ".nav-collapse" }
        %span Menu

      .nav-collapse.collapse
        %ul.nav
          - unless signed_in?
            %li= link_to t(".i_will_go"), new_member_path

          %li= navbar_link t(".participants"), members_path, with: Member.shown_as_participants.count

          - if signed_in?
            %li= link_to current_user.full_name, current_user.member? ? edit_account_member_path(current_user) : edit_account_speaker_path(current_user)
            %li= link_to t('.logout'), session_path, method: :delete

          - else
            %li= link_to t(".login"), new_session_path

          - if signed_as_admin?
            %li= link_to t(".admin"), admin_root_path