.pagetitle.mainpage__title.pagetitle__withoutborder
  .layout-line
    %h1.pagetitle__title А вот и мы - организаторы
.mainpage__org
  .layout-line
    #org_logos.company__logos.logos_carousel.touchcarousel
      %ul.touchcarousel-container
        %li.touchcarousel-item
          %div
          = link_to "http://m-st.ru" do
            = image_tag "logos/mst.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://i-dt.ru/" do
            = image_tag "logos/interra.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://www.simtech.ru/" do
            = image_tag "logos/simtech.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://www.simbirsoft.com/ruru/" do
            = image_tag "logos/simbirsoft.png"
        %li.touchcarousel-item
          %div
          = link_to "http://platidoma.ru/" do
            = image_tag "logos/platidoma.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://itmcompany.ru/" do
            = image_tag "logos/itm.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://mymediacompany.ru/" do
            = image_tag "logos/my-media-company.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://turnkeye.ru/" do
            = image_tag "logos/turnkey.jpg"
