.infoline
  .layout-line
    %p.infoline__left
      %b 11-12 апреля,
      Ленинский мемориал, Ульяновск
    %p.infoline__right
      Стоимость участия на данный момент -
      %b
        = configus.platidoma.ticket_price
        p
- if is_main_page? and not current_user_paid_for_conference?
  .mainadv
    - banner = 0 #rand(4)
    - if banner == 0
      - unless current_user_paid_for_conference?
        .mainadv__banner__dollar
          %h2.plaha_main_text
            = t('.buy_a_ticket')
          %p
            Стоимость участия -
            %b 1500
            %span.rouble i
            %b / 2 дня
          = link_to t(".buy_a_ticket"), ticket_account_buy_path, method: :post
      -# else
        -# banner += 1
    -# elsif banner == 1
      - unless current_user_has_afterparty?
        .mainadv__banner__ok
          %h2 Afterparty!
          %p
            != t('.classmates_get_good_guys_for_lesson')
          %p
            = t('.afterparty_costs')
            = configus.platidoma.afterparty_price
            %span.rouble i
          = link_to t('.buy_a_ticket'), afterparty_account_buy_path, method: :post
      - else
        - banner += 1
    -# elsif banner == 2
      .mainadv__banner__girl
        %h2.girl_shirt_text
          = t('.girl_shirt_costs')
          %span.rouble i
        = link_to t(".buy_shirt"), "#{edit_account_path}#products"
    -# elsif banner == 3
      .mainadv__banner__boy
        %h2.boy_shirt_text
          = t('.boy_shirt_costs')
          %span.rouble i
        = link_to t('.buy_shirt'), "#{edit_account_path}#products"
- else
  .mainadv.mainadv__mini
