.infoline
  .layout-line
    %p.infoline__left
      %b 14-15 апреля 2017 года,
      Ленинский мемориал, Ульяновск
    %p.infoline__right
      = link_to "Проживание и проезд", hotel_path
      = link_to "AfterParty", afterparty_path
      - unless current_user
        = link_to "Регистрация", new_user_path
        = link_to "Купить билет (#{price})", buy_now_path
