.pagetitle.mainpage__title.pagetitle__withoutborder
  .layout-line
    %h1.pagetitle__title Ресторанные партнёры
.mainpage__partners
  .layout-line
    #restoran_partners_logos.company__logos.logos_carousel.touchcarousel
      %ul.touchcarousel-container
        %li.touchcarousel-item
          %div
          = link_to "http://vk.com/club40949260", target: "_blank" do
            = image_tag "logos/bardak.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://vk.com/club62965293", target: "_blank" do
            = image_tag "logos/gonzo.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://vk.com/club3838139", target: "_blank" do
            = image_tag "logos/uleu.jpg"
