.pagetitle.mainpage__title.pagetitle__withoutborder
  .layout-line
    %h1.pagetitle__title Серебряные спонсоры
.mainpage__sponsors
  .layout-line
    #silver_sponsors_logos.company__logos.logos_carousel.touchcarousel
      %ul.touchcarousel-container
        %li.touchcarousel-item
          %div
          = link_to "http://provectus.com/", target: "_blank" do
            = image_tag "logos/provectus-it_new.png"
        %li.touchcarousel-item
          %div
          = link_to "http://1c-bitrix.ru", target: "_blank" do
            = image_tag "logos/bitrix.png"
        %li.touchcarousel-item
          %div
          = link_to "http://dengionline.com", target: "_blank" do
            = image_tag "logos/dengi_online.png"
        %li.touchcarousel-item
          %div
          = link_to "http://sepyra.com/", target: "_blank" do
            = image_tag "logos/sepyra.jpg"
