.pagetitle.mainpage__title.pagetitle__withoutborder
  .layout-line
    %h1.pagetitle__title Спасибо спонсорам
.mainpage__sponsors
  .layout-line
    #sponsors_logos.company__logos.logos_carousel.touchcarousel
      %ul.touchcarousel-container
        %li.touchcarousel-item
          %div
          = image_tag "logos/mst.jpg"
        %li.touchcarousel-item
          %div
          = image_tag "logos/interra.jpg"
        %li.touchcarousel-item
          %div
          = image_tag "logos/simtech.jpg"
        %li.touchcarousel-item
          %div
          = image_tag "logos/hackday.jpg"
        %li.touchcarousel-item
          %div
          = image_tag "logos/platidoma.jpg"
        %li.touchcarousel-item
          %div
          = image_tag "logos/aviasales.jpg"
        %li.touchcarousel-item
          %div
          = image_tag "logos/rostelecom.jpg"
        %li.touchcarousel-item
          %div
          = image_tag "logos/ruby-jobs.jpg"
        %li.touchcarousel-item
          %div
          = image_tag "logos/my-media-company.jpg"
        %li.touchcarousel-item
          %div
          = image_tag "logos/simbirsoft.jpg"
        %li.touchcarousel-item
          %div
          = image_tag "logos/itm.jpg"
        %li.touchcarousel-item
          %div
          = image_tag "logos/turnkey.jpg"
        %li.touchcarousel-item
          %div
          = image_tag "logos/interra.jpg"
        %li.touchcarousel-item
          %div
          = image_tag "logos/turnkey.jpg"
        %li.touchcarousel-item
          %div
          = image_tag "logos/rostelecom.jpg"
