.pagetitle.mainpage__title.pagetitle__withoutborder
  .layout-line
    %h1.pagetitle__title Генеральные спонсоры
.mainpage__sponsors
  .layout-line
    #platin_sponsors_logos.company__logos.logos_carousel.touchcarousel
      %ul.touchcarousel-container
        %li.touchcarousel-item
          %div
          = link_to "http://www.microsoft.com/", target: "_blank" do
            = image_tag "logos/microsoft_logo.png"
        %li.touchcarousel-item
          %div
          = link_to "http://www.odnoklassniki.ru/", target: "_blank" do
            = image_tag "logos/odnoklassniki.jpg"
.pagetitle.mainpage__title.pagetitle__withoutborder
  .layout-line
    %h1.pagetitle__title Платиновые спонсоры
.mainpage__sponsors
  .layout-line
    #platin_sponsors_logos.company__logos.logos_carousel.touchcarousel
      %ul.touchcarousel-container
        %li.touchcarousel-item
          %div
          = link_to "http://job.bistrodengi.ru/", target: "_blank" do
            = image_tag "logos/bystrodengi_logo.png"
        %li.touchcarousel-item
          %div
          = link_to "http://dengionline.com", target: "_blank" do
            = image_tag "logos/dengi_online.png"
        %li.touchcarousel-item
          %div
          = link_to "http://wargaming.net", target: "_blank" do
            = image_tag "logos/wargaming.png"
.pagetitle.mainpage__title.pagetitle__withoutborder
  .layout-line
    %h1.pagetitle__title Золотой спонсор
.mainpage__sponsors
  .layout-line
    #gold_sponsors_logos.company__logos.logos_carousel
      %ul.touchcarousel-container
        %li.touchcarousel-item
          %div
          = link_to "http://jagajam.com", target: "_blank" do
            = image_tag "logos/jagajam.png"
.pagetitle.mainpage__title.pagetitle__withoutborder
  .layout-line
    %h1.pagetitle__title Серебрянные спонсоры
.mainpage__sponsors
  .layout-line
    #silver_sponsors_logos.company__logos.logos_carousel.touchcarousel
      %ul.touchcarousel-container
        %li.touchcarousel-item
          %div
          = link_to "http://www.usabilitylab.ru", target: "_blank" do
            = image_tag "logos/usability_lab.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://sepyra.com/", target: "_blank" do
            = image_tag "logos/sepyra.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://sutochno.ru/", target: "_blank" do
            = image_tag "logos/sutochno.png"
        %li.touchcarousel-item
          %div
          = link_to "http://www.provectus-it.com", target: "_blank" do
            = image_tag "logos/provectus-it.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://1c-bitrix.ru", target: "_blank" do
            = image_tag "logos/bitrix.png"
        %li.touchcarousel-item
          %div
          = link_to "http://netcat.ru", target: "_blank" do
            = image_tag "logos/netcat.gif"
