.pagetitle.mainpage__title.pagetitle__withoutborder
  .layout-line
    %h1.pagetitle__title Спасибо спонсорам
.mainpage__sponsors
  .layout-line
    #sponsors_logos.company__logos.logos_carousel.touchcarousel
      %ul.touchcarousel-container
        %li.touchcarousel-item
          %div
          = link_to "http://jagajam.com", target: "_blank" do
            = image_tag "logos/jagajam.png"
        %li.touchcarousel-item
          %div
          = link_to "http://dengionline.com", target: "_blank" do
            = image_tag "logos/dengi_online.png"
        %li.touchcarousel-item
          %div
          = link_to "http://www.usabilitylab.ru", target: "_blank" do
            = image_tag "logos/usability_lab.jpg"
