.pagetitle.mainpage__title.pagetitle__withoutborder
  .layout-line
    %h1.pagetitle__title Платиновые спонсоры
.mainpage__sponsors
  .layout-line
    #platin_sponsors_logos.company__logos.logos_carousel.touchcarousel
      %ul.touchcarousel-container
        %li.touchcarousel-item
          %div
          = link_to "http://bistrodengi.ru/", target: "_blank" do
            = image_tag "logos/bystrodengi_logo.png"
        %li.touchcarousel-item
          %div
          = link_to "http://dengionline.com", target: "_blank" do
            = image_tag "logos/dengi_online.png"
.pagetitle.mainpage__title.pagetitle__withoutborder
  .layout-line
    %h1.pagetitle__title Золотой спонсор
.mainpage__sponsors
  .layout-line
    #gold_sponsors_logos.company__logos.logos_carousel.touchcarousel
      %ul.touchcarousel-container
        %li.touchcarousel-item
          %div
          = link_to "http://jagajam.com", target: "_blank" do
            = image_tag "logos/jagajam.png"
.pagetitle.mainpage__title.pagetitle__withoutborder
  .layout-line
    %h1.pagetitle__title Серебрянный спонсор
.mainpage__sponsors
  .layout-line
    #silver_sponsors_logos.company__logos.logos_carousel.touchcarousel
      %ul.touchcarousel-container
        %li.touchcarousel-item
          %div
          = link_to "http://www.usabilitylab.ru", target: "_blank" do
            = image_tag "logos/usability_lab.jpg"
