%h3
  =t(".personal_number")
  %span.color
    = @user.id
%br


  .tabbable
    %ul.nav.nav-tabs
      %li.active= link_to t('.info'), '#info', data: { toggle: 'tab' }
      - if @user.not_paid_part?
        %li= link_to t('.pay'), '#pay', data: { toggle: 'tab' }
      %li= link_to t('.my_orders'), '#my_orders', data: { toggle: 'tab' }

  .tab-content
    .tab-pane.active#info
      - unless @user.attended?
        = link_to t('.i_will_come_to_stachka'), attend_user_path(@user), method: :put, class: 'btn btn-shine'
      = simple_form_for @user, url: account_path, html: { class: 'form-horizontal profile-form' } do |f|
        .formy
          = f.input :first_name
          = f.input :last_name
          = f.input :city
          = f.input :company
          = f.input :position
          = f.input :photo, as: :image_preview
          = f.input :about

          .control-group
            .control-label= t(".twitter_account")
            .controls
              .control-form-text
                - unless @user.twitter_name?
                  = link_to t(".link_twitter"), link_via_social_network_cpath(:twitter)
                - else
                  = link_to twitter_account_curl(@user.twitter_name), target: "_blank" do
                    = @user.twitter_name
                  = surround '(', ')' do
                    = link_to t(".unlink_twitter"), unlink_twitter_account_social_networks_path, method: :put

          = f.input :show_as_participant, wrapper: :inline_checkbox
        = f.button :submit, value: t('.save'), class: 'btn btn-shine'
    - if @user.not_paid_part?
      .tab-pane#pay
        -# FIXME заменить на simple_form. В противном случае тест не проходит
        = form_tag accept_account_promo_code_path(@user.promo_code), method: :put, html: { class: 'form-horizontal' } do |f|
          = text_field_tag :code
          %br
          = submit_tag t('.enter_promo_code'), class: 'btn btn-shine'
    .tab-pane#my_orders
      - unless user_has_full_ticket?(current_user)
        Билет на конференцию
        = simple_form_for @ticket_order, url: account_ticket_orders_path do |f|
          = f.input :ticket_type if user_has_not_tickets(current_user)
          = f.input :ticket_type, collection: ticket_type_collection_part(1) if user_has_first_day?(current_user)
          = f.input :ticket_type, collection: ticket_type_collection_part(0) if user_has_second_day?(current_user)
          = f.input :user_id, as: :hidden, input_html: { value: current_user.id }
          = f.input :items_count, as: :hidden, input_html: { value: 1 }
          = f.button :submit, t('add_to_cart')
      - else
        %b
          Билет куплен на все дни конференции!
        %br

      Купить футболки
      = simple_form_for @shirt_order, url: account_shirt_orders_path do |f|
        = f.input :items_count
        = f.input :user_id, as: :hidden, input_html: { value: current_user.id }
        = f.input :item_color
        = f.input :item_size
        = f.button :submit, t('add_to_cart')
      %p
        - if @user.orders.web.empty?
          = t(".buy_it_now")
          = link_to t(".buy_shirt"), new_account_shirt_order_path
        %br
        %br

        %table.table.table-participants
          %thead
            %tr
              %th= Order.human_attribute_name :order_id
              %th= Order.human_attribute_name :type
              %th= Order.human_attribute_name :items_count
              %th= t(".cost")
              %th= Order.human_attribute_name :payment_state
              %th= Order.human_attribute_name :created_at
              %th
          %tbody
            - @user.orders.web.each do |order|
              %tr
                %td.center= order.id
                %td.center= order
                %td.center= order.items_count
                %td.center= order.cost
                %td.center= order.human_payment_state_name
                %td.center= l order.created_at
                %td
                  .btn-group.pull-right
                    - if order.transaction_id?
                      = link_to account_order_path(order), method: :put, class: 'btn btn-mini' do
                        %i.icon-refresh
                    - if order.unpaid? || order.declined?
                      = link_to pay_account_order_path(order), method: :put, class: 'btn btn-mini' do
                        %i.icon-shopping-cart
