.content.personal
  .content__tabs__line
  .layout-line
    %dl.content__tabs
      %dt.tabs__title.selected Личные данные
      %dd.tabs__content.selected
        = simple_form_for @user, url: account_path, html: { class: 'form-horizontal profile-form' } do |f|
          .personal__userpic
            .personal__userpic__img
              = image_tag "/assets/web/no-userpic.jpg" unless @user.photo
              = image_tag @user.photo if @user.photo
            .personal__userpic__upload
              = f.input :photo, input_html: {style: "display: none;"}, label_html: {style: "display: none;"}
              %a#false_photo_input{ title: "Загрузить фотографию", href: "#"} Загрузить фотографию
              :javascript
                $(document).ready( function() {
                  $('#false_photo_input').click(function(){
                    $("#user_photo").click();
                  });
                });                
          .personal__info
            - f.with_options input_html: { class: "input_type-1" } do |f|
              %ul.form__group
                %li.form__element
                  = f.input :first_name, placeholder: "Имя", label: false
                %li.form__element
                  = f.input :last_name, placeholder: "Фамилия", label: false
                %li.form__element
                  = f.input :city, placeholder: "Город", label: false
              %ul.form__group
                %li.form__element
                  = f.input :company, placeholder: "Компания", label: false
                %li.form__element
                  = f.input :position, placeholder: "Должность", label: false
                %li.form__element
                  = f.input :email, placeholder: "E-mail", label: false
          .personal__identity
            .personal__identity__number
              %h5 Ваш персональный номер
              %h2= @user.id
            .personal__identity__social
              %ul.form__group
                - f.with_options input_html: { class: "input_type-1" } do |f|
                  %li.form__element.form__element__tw
                    = f.input :twitter_name, placeholder: "https://twitter.com", label: false
                  %li.form__element.form__element__fb
                    = f.input :facebook, placeholder: "http://facebook.com", as: :string, label: false
                  %li.form__element.form__element__vk
                    = f.input :vkontakte, placeholder: "http://vk.com", as: :string, label: false
          .personal__submit
            = f.button :submit, t('.save'), class: 'btn_main btn_main-refresh'
      %dt.tabs__title Заказы
      %dd.tabs__content
        - if user_has_no_tickets?(current_user)
          %script{"data-timepad-widget" => "event_register", defer: "defer", src: "//timepad.ru/js/tpwf/loader.min.js"}
            (function(){return {"event":{"id":"105416","org":"10509","subdomain":"srit"},"oldWidgetOptions":{"urlAppend":"","QSAppend":""}}; })();
        .orderlist
          .layout-line
            %ul.orderslist__info
              .orderslist__info__desc
                %span
                %p По вопросам альтернативной оплаты или отмены заказа, обращатсья к Светлане Брошкиной.
              .orderslist__info__contacts
                %a{ href: "mailto:xxx@xxx.com" } svetlana@gmail.com
                %p 8 (909) 301-26-48


:javascript
  jQuery(document).ready(function ($) {
     $('.form_showpass').on('click',function() {
         var input=$(this).siblings('input');
         if ($(this).hasClass('active')) {
             input.attr('type','password');
         } else {
             input.attr('type','text');
         }
         $(this).toggleClass('active');
     });

     $('.tabs__title').click(function(){
         $(this).siblings().removeClass('selected').end().next('dd').andSelf().addClass('selected');
     });
     $('input[type="checkbox"]').change(function() {
         var sum = $('#two_days').is(':checked') ? parseInt($('#ticket_price_score').text()) : 0;
         sum += $('#afterparty').is(':checked') ? parseInt($('#afterparty_score').text()) : 0;
         $('#total_score').text(sum);
     });
  });
