%h3
  =t(".personal_number")
  %span.color
    = @user.id
%br


  .tabbable
    %ul.nav.nav-tabs
      %li.active= link_to t('.info'), '#info', data: { toggle: 'tab' }
      %li= link_to t('.pay'), '#pay', data: { toggle: 'tab' }

  .tab-content
    .tab-pane.active#info
      - unless @user.attended?
        = link_to t('.i_will_come_to_stachka'), attend_user_path(@user), method: :put, class: 'btn btn-shine'
      = simple_form_for @user, url: account_path, html: { class: 'form-horizontal profile-form' } do |f|
        .formy
          = f.input :first_name
          = f.input :last_name
          = f.input :city
          = f.input :company
          = f.input :position
          = f.input :photo, as: :image_preview
          = f.input :about

          .control-group
            .control-label= t(".twitter_account")
            .controls
              .control-form-text
                - unless @user.twitter_name?
                  = link_to t(".link_twitter"), link_via_social_network_cpath(:twitter)
                - else
                  = link_to twitter_account_curl(@user.twitter_name), target: "_blank" do
                    = @user.twitter_name
                  = surround '(', ')' do
                    = link_to t(".unlink_twitter"), unlink_twitter_account_social_networks_path, method: :put

          = f.input :show_as_participant, wrapper: :inline_checkbox
        = f.button :submit, value: t('.save'), class: 'btn btn-shine'
    .tab-pane#pay
      - unless user_has_full_ticket?(current_user)
        %script{"data-timepad-widget" => "event_register", :defer => "defer", :src => "//timepad.ru/js/tpwf/loader.min.js"}
          (function(){return {"event":{"id":"105416","org":"10509","subdomain":"srit"},"oldWidgetOptions":{"urlAppend":"","QSAppend":""}}; })();
