.content.personal
  .content__tabs__line
  .layout-line
    %dl.content__tabs
      %dt.tabs__title.selected Личные данные
      %dd.tabs__content.selected
        = simple_form_for @user, url: account_path, html: { class: 'form-horizontal profile-form' } do |f|
          .personal__userpic
            .personal__userpic__img
              = f.input :photo, as: :image_preview
          .personal__info
            - f.with_options input_html: { class: "input_type-1" } do |f|
              %ul.form__group
                %li.form__element
                  = f.input :first_name, placeholder: "Имя", label: false
                %li.form__element
                  = f.input :last_name, placeholder: "Фамилия", label: false
                %li.form__element
                  = f.input :city, placeholder: "Город", label: false
              %ul.form__group
                %li.form__element
                  = f.input :company, placeholder: "Компания", label: false
                %li.form__element
                  = f.input :position, placeholder: "Должность", label: false
                %li.form__element
                  = f.input :email, placeholder: "E-mail", label: false
          .personal__identity
            .personal__identity__number
              %h5 Ваш персональный номер
              %h2= @user.id
            .personal__identity__social
              %ul.form__group
                - f.with_options input_html: { class: "input_type-1" } do |f|
                  %li.form__element.form__element__tw
                    = f.input :twitter_name, placeholder: "https://twitter.com", label: false
                  %li.form__element.form__element__fb
                    = f.input :facebook, placeholder: "http://facebook.com", as: :string, label: false
                  %li.form__element.form__element__vk
                    = f.input :vkontakte, placeholder: "http://vk.com", as: :string, label: false
          .personal__submit
            = f.button :submit, t('.save'), class: 'btn_main btn_main-refresh'
      %dt.tabs__title Заказы
      %dd.tabs__content
        %form{ action: "/" }
          .order__new
            %ul.order__new__items
              %li.order__new__item.order__new__item__days
                .order__new__item__name
                  %input#two_days.checkbox_type-1{ checked: "checked", name: "order_item", type: "checkbox" }
                  %label{ for: "two_days" } Первый и второй день
                .order__new__item__price
                  %h4
                    1000
                    %span.rouble i
              %li.order__new__item.order__new__item__days
                .order__new__item__name
                  %input#two_days2.checkbox_type-1{ checked: "checked", name: "order_item", type: "checkbox" }
                  %label{ for: "two_days2" } Первый и второй день
                .order__new__item__price
                  %p Оплачено промокодом
              %li.order__new__item.order__new__item__promo
                Также вы можете оплатить участие
                %span.order__new__item__promo-open.open_this промокодом
                %br/
                .order__new__item__promo-code
                  %input.input_type-1{ name: "promo-code", placeholder: "Введите промо-код", type: "text", value: "" }
                  %span.order__new__item__promo-button
              %li.order__new__item.order__new__item__afterparty
                .order__new__item__name
                  %input#afterparty.checkbox_type-1{ name: "order_item", type: "checkbox" }
                  %label{ for: "afterparty" } Афтепати
                .order__new__item__price
                  %h4
                    1000
                    %span.rouble i
                .order__new__item__desc
                  %p.open_this Пройдет в клубе “Duk”, где вы сможете в неформальной обстановке пообщаться со спикерами и другими участникам Пройдет в клубе “Duk”, где вы сможете в неформальной обстановке пообщаться со спикерами и другими участникам Пройдет в клубе “Duk”, где вы сможете в неформальной обстановке пообщаться со спикерами и другими участникам
            .order__new__total
              %p Итог:
              %h3
                2500
                %span.rouble i
            .order__new__submit
              %button.btn_main.btn_main-pay{ type: "submit" } Оплатить заказ
        .orderslist
          .layout-line
            %ul.orderslist__items
              %li.orderslist__items__title
                Оплаченные заказы
              %li.orderslist__items__head
                %div
                  Номер заказа
                %div
                  Название
                %div
                  Дата
                %div
                  Стоимость
              %li.orderslist__item
                %div
                  %p.orderslist__item__name Номер заказа
                  %span.orderslist__item__data 252
                %div
                  %p.orderslist__item__name Название
                  %span.orderslist__item__data Второй день
                %div
                  %p.orderslist__item__name Дата
                  %span.orderslist__item__data 15.01.2014 12:40
                %div
                  %p.orderslist__item__name Стоимость
                  %span.orderslist__item__data
                    500
                    %span.rouble i
              %li.orderslist__item
                %div
                  %p.orderslist__item__name Номер заказа
                  %span.orderslist__item__data 252
                %div
                  %p.orderslist__item__name Название
                  %span.orderslist__item__data Второй день
                %div
                  %p.orderslist__item__name Дата
                  %span.orderslist__item__data 15.01.2014 12:40
                %div
                  %p.orderslist__item__name Стоимость
                  %span.orderslist__item__data
                    500
                    %span.rouble i
            .orderslist__info
              .orderslist__info__desc
                %span
                %p По вопросам альтернативной оплаты или отмены заказа, обращатсья к Светлане Брошкиной.
              .orderslist__info__contacts
                %a{ href: "mailto:xxx@xxx.com" } svetlana@gmail.com
                %p 8 (909) 301-26-48
