%h3
  =t(".personal_number")
  %span.color
    = @user.id
%br


  .tabbable
    %ul.nav.nav-tabs
      %li.active= link_to t('.info'), '#info', data: { toggle: 'tab' }
      %li= link_to t('.my_events'), '#my_events', data: { toggle: 'tab' }

  .tab-content
    .tab-pane.active#info
      = simple_form_for @user, :url => account_path, :html => { :class => 'form-horizontal profile-form' } do |f|
        .formy
          = f.input :email, disabled: true, readonly: true
          = f.input :first_name
          = f.input :last_name
          = f.input :city
          = f.input :company
          = f.input :position
          = f.input :photo, as: :image_preview
          = f.input :about
          = f.input :show_as_participant, :wrapper => :inline_checkbox
        = f.button :submit, :value => t('.save'), :class => 'btn btn-shine'

    .tab-pane#my_events

      - if @user.events.blank?
        %p
          = t(".add_user_event_text")
          = link_to t(".add_user_event"), new_account_event_path
      - else 
        %table.table.table-participants
          %thead
            %tr
              %th= BaseEvent.human_attribute_name(:title)
              %th= BaseEvent.human_attribute_name(:created_at)
              %th= BaseEvent.human_attribute_name(:state)
              %th
          %tbody
            - @user.events.each do |event|
              %tr
                %td= event.title
                %td.center= l event.created_at
                %td.center= event.human_state_name
                %td.center
                  .btn-group.pull-right
                    %a.btn.btn-mini.edit-event
                      %i.icon-pencil
              %tr.hidden
                %td( colspan="4" )
                  = simple_form_for [:api, event], remote: true, html: { class: 'edit-event' }  do |event|
                    .formy.formy-issue.nested-fields
                      .row-fluid
                        .span8
                          = event.input :title
                          = event.input :thesises, input_html: {rows: 5}
                        .span3
                          = event.input :presentation, as: :file
                      .row-fluid
                        .span3
                          = event.submit t('.save'), class: 'btn btn-shine'
