.content.personal
  .content__tabs__line
  .layout-line
    %dl.content__tabs
      %dt.tabs__title.selected Личные данные
      %dd.tabs__content.selected
        = simple_form_for @user, url: account_path, html: { class: 'form-horizontal profile-form' } do |f|
          .personal__userpic
            .personal__userpic__img
              = image_tag "/assets/web/no-userpic.jpg" unless @user.photo
              = image_tag @user.photo if @user.photo
            .personal__userpic__upload
              = f.input :photo, input_html: {style: "display: none;"}, label_html: {style: "display: none;"}
              %a#false_photo_input{ title: "Загрузить фотографию", href: "#"} Загрузить фотографию
              :javascript
                $(document).ready( function() {
                  $('#false_photo_input').click(function(){
                    $("#user_photo").click();
                    return false;
                  });
                });
          .personal__info
            - f.with_options input_html: { class: "input_type-1" } do |f|
              %ul.form__group
                %li.form__element
                  = f.input :first_name, placeholder: "Имя", label: false
                %li.form__element
                  = f.input :last_name, placeholder: "Фамилия", label: false
                %li.form__element
                  = f.input :city, placeholder: "Город", label: false
              %ul.form__group
                %li.form__element
                  = f.input :company, placeholder: "Компания", label: false
                %li.form__element
                  = f.input :position, placeholder: "Должность", label: false
              %ul.form__group
                %li.form__element
                  = f.input :email, placeholder: "E-mail", label: false
                %li.form__element.form__element__pass
                  = f.input :old_password, placeholder: "Пароль", label: false
                  %span.form__element__pass-icon.form_showpass
                %li.form__element
                  = f.input :password, placeholder: "Новый пароль", label: false
          .personal__identity
            .personal__identity__number
              %h5 Ваш персональный номер
              %h2= @user.id
            .margin_of_information
              - unless @user.attended?
                %ul.form__group
                  %li.form__element
                    = check_box_tag :i_will_come_to_stachka, nil, false, id: "i_will_come_to_stachka", class: 'checkbox_type-1', data: {url: attend_user_path(@user)}
                    %label{for: "i_will_come_to_stachka"}
                      = t('.i_will_come_to_stachka')
            .personal__identity__social
              %ul.form__group
                - f.with_options input_html: { class: "input_type-1" } do |f|
                  %li.form__element.form__element__tw
                    = f.input :twitter_name, placeholder: "https://twitter.com", label: false
                  %li.form__element.form__element__fb
                    = f.input :facebook, placeholder: "http://facebook.com", as: :string, label: false
                  %li.form__element.form__element__vk
                    = f.input :vkontakte, placeholder: "http://vk.com", as: :string, label: false
          .personal__submit
            = f.button :submit, t('.save'), class: 'btn_main btn_main-refresh'
      %dt.tabs__title Заказы
      %dd.tabs__content
        = simple_form_for @shirt_order, url: pay_account_buy_path, method: :put do |f|
          #order_form.order__new
            %ul.order__new__items
              %li.order__new__item.order__new__item__days
                .order__new__item__name
                  = check_box_tag :ticket_order, nil, false, id: "two_days", class: 'checkbox_type-1'
                  %label{for: "two_days"}
                    = t('.stachka_ticket')
                .order__new__item__price
                  %h4#ticket_price_score
                    = configus.platidoma.ticket_price
                    %span.rouble i
              %li.order__new__item.order__new__item__promo
                Также вы можете оплатить участие
                %span.order__new__item__promo-open.open_this промокодом
                %br
                #promo_code_form.order__new__item__promo-code
                  -# два тега form нельзя вкладвать друг в друга. Обход в accounts.js
                  = form_tag accept_account_promo_code_path(@user.promo_code), method: :put, html: { class: 'form-horizontal' } do |f|
                    = text_field_tag :code, nil, class: "input_type-1", placeholder: "Введите промо-код"
                    %button_tag#submit_promo_code.order__new__item__promo-button
              %li.order__new__item.order__new__item__afterparty
                .order__new__item__name
                  %input#afterparty.checkbox_type-1{ name: "afterparty_order", type: "checkbox" }
                  %label{ for: "afterparty" } Афтепати
                .order__new__item__price
                  %h4#afterparty_score
                    = configus.platidoma.afterparty_price
                    %span.rouble i
                .order__new__item__desc
                  %p.open_this
                    В пятницу, 11 апреля мы ждем вас на СТАЧКА-party!
                    %br
                    Это отличная возможность завести новые знакомства с лучшими людьми IT-сферы, пообщаться за бокалом шампанского со спикерами и просто приятно провести время!
                    %br
                    В стоимость билета включается: вход, выпивка, закуска, развлекательная программа от организаторов и бесконечное количество положительных эмоций.
                    %br
                    Успейте попасть на закрытую вечеринку, количество билетов ограничено.
                    %br
                    %br
                    P.S. Билеты найдут своих законных обладателей в день конференции - 11 апреля.
            .order__new__total
              %p Итог:
              %h3
                %span#total_score
                  0
                %span.rouble i
            .order__new__submit
              %button#submit_order.btn_main.btn_main-pay{ type: "submit", disabled: true} Оплатить заказ
            Также, Вы можете оплатить участие в конференции через систему
            %a{ href: "http://srit.timepad.ru/event/105416/"} TimePad
        .orderlist
          .layout-line
            %ul.orderslist__info
              .orderslist__info__desc
                %span
                %p По всем вопросам альтернативной оплаты или отмены заказа, обращаться:
              .orderslist__info__contacts
                %a{ href: "mailto:info@nastachku.ru" } info@nastachku.ru
      %dt.tabs__title Товары
      %dd.tabs__content
        .tygh#tygh_container
        :javascript
          (function() {
          var url = 'https:' == document.location.protocol ? 'https%3A%2F%2Fdevel.cs-cart.ru' : 'http%3A%2F%2Fdevel.cs-cart.ru';
          var cw = document.createElement('script'); cw.type = 'text/javascript'; cw.async = true;
          cw.src = '//widget.cart-services.com/static/init.js?url=' + url + '&amp;layout=2';
          document.getElementById('tygh_container').appendChild(cw);
          })();
