%h3
  =t(".personal_number")
  %span.color
    = @user.id
%br

= simple_form_for @user, :url => account_path, :html => { :class => 'form-horizontal profile-form' } do |f|

  .tabbable
    %ul.nav.nav-tabs
      %li.active= link_to t('.info'), '#info', data: { toggle: 'tab' }
      %li= link_to t('.my_events'), '#my_events', data: { toggle: 'tab' }

  .tab-content
    .tab-pane.active#info
      .formy
        = f.input :email, disabled: true, readonly: true
        = f.input :first_name
        = f.input :last_name
        = f.input :city
        = f.input :company
        = f.input :position
        = f.input :photo, as: :image_preview
        = f.input :about
        = f.input :show_as_participant, :wrapper => :inline_checkbox
      = f.button :submit, :value => t('.save'), :class => 'btn btn-shine'

    .tab-pane#my_events

      %table.table.table-participants
        %thead
          %tr
            %th= BaseEvent.human_attribute_name(:title)
            %th= BaseEvent.human_attribute_name(:created_at)
            %th= BaseEvent.human_attribute_name(:state)
        %tbody
          - @user.events.each do |event|
            %tr
              %td= event.title
              %td.center= l event.created_at
              %td.center= event.human_state_name
