%h3
  =t(".personal_number")
  %span.color
    = @user.id
%br
  .tabbable
    %ul.nav.nav-tabs
      %li.active= link_to t('.info'), '#info', data: { toggle: 'tab' }
      %li= link_to t('.pay'), '#pay', data: { toggle: 'tab' }

  .tab-content
    .tab-pane.active#info
      - unless @user.attended?
        = link_to t('.i_will_come_to_stachka'), attend_user_path(@user), method: :put, class: 'btn btn-shine'
      = simple_form_for @user, url: account_path, html: { class: 'form-horizontal profile-form' } do |f|
        .formy
          = f.input :first_name
          = f.input :last_name
          = f.input :city
          = f.input :company
          = f.input :position
          = f.input :photo, as: :image_preview
          = f.input :about

          .control-group
            .control-label= t(".twitter_account")
            .controls
              .control-form-text
                - unless @user.twitter_name?
                  = link_to t(".link_twitter"), link_via_social_network_cpath(:twitter)
                - else
                  = link_to twitter_account_curl(@user.twitter_name), target: "_blank" do
                    = @user.twitter_name
                  = surround '(', ')' do
                    = link_to t(".unlink_twitter"), unlink_twitter_account_social_networks_path, method: :put

          = f.input :show_as_participant, wrapper: :inline_checkbox
        = f.button :submit, value: t('.save'), class: 'btn btn-shine'
    .tab-pane#pay
      .row-fluid
        .span6
          Стоимость участия в конференции СТАЧКА 2014:
          %table.table.table-stripped.table-bordered
            %thead
              %th Месяц
              %th Февраль
              %th Март
              %th Апрель
            %tr
              %td Цена
              %td 750 руб.
              %td 1100 руб.
              %td 1500 руб.
          Участие в конференции для докладчиков - бесплатно.
          Дополнительную информацию об оплате участия можно узнать у организаторов конференции: info@nastachku.ru
          %br
          %br

          = simple_form_for @shirt_order, url: pay_account_buy_path, method: :put do |f|
            %label
              = check_box_tag :ticket_order
              = t('.stachka_ticket')

            %br
            Приобрести фирменные футболки "Стачка 2014!"
            %br
            = f.input :items_count, required: false
            = f.input :item_color, required: false
            = f.input :item_size, required: false
            = f.input :user_id, as: :hidden, input_html: { value: current_user.id }
            = f.submit t('.pay_orders')
        .offset1.span5
          Если у вас есть промо-код, то вы можете оплатить участие промо-кодом.
          -# FIXME заменить на simple_form. В противном случае тест не проходит
          = form_tag accept_account_promo_code_path(@user.promo_code), method: :put, html: { class: 'form-horizontal' } do |f|
            = text_field_tag :code
            %br
            = submit_tag t('.enter_promo_code'), class: 'btn btn-shine'
