%h5
  =t(".personal_number")
  %span.color
    = @user.id
%br

= simple_form_for @user, :url => account_path, :html => { :class => 'form-horizontal profile-form' } do |f|  
  .formy
    = f.input :email, disabled: true, readonly: true
    = f.input :photo, as: :image_preview
    = f.input :about
    = f.input :first_name
    = f.input :last_name
    = f.input :city
    = f.input :company
    = f.input :position
    = f.input :show_as_participant, :wrapper => :inline_checkbox

  = f.button :submit, :value => t('.save'), :class => 'btn btn-shine'
