.order__new__items
  = simple_form_for @order, url: pay_account_buy_path, method: :put do |f|
    .order__new__item
      - if current_user.ticket
        %h3 Вы купили билет на Стачку!
      - else
        .order__new__item__name
          = check_box_tag :ticket, nil, true, id: "two_days", class: 'checkbox_type-1'
          = label_tag 'two_days', t('.stachka_ticket')
        .order__new__item__price
          %h4
            %span#ticket_price_score
              - if current_coupon
                = current_coupon.with_discount(Pricelist.ticket_price)
              - else
                = Pricelist.ticket_price
            %span.rouble i
    .order__new__item
      - if current_user.afterparty_ticket
        %h3 Вы купили билет вечеринку!
      - else
        .order__new__item__name
          = check_box_tag :afterparty_ticket, nil, true, id: "afterparty", class: 'checkbox_type-1'
          = label_tag 'afterparty', t('.afterparty_ticket')
        .order__new__item__price
          %h4
            %span#ticket_price_score
              - if current_coupon
                = current_coupon.with_discount(Pricelist.afterparty_ticket_price)
              - else
                = Pricelist.afterparty_ticket_price
            %span.rouble i
    - unless current_user.bought_tickets?
      .order__new__submit
        = select_tag :payment_system, options_for_select([["PayAnyWay", "payanyway"], ["Платидома", "platidoma"]]), class: "custom_select"
        %br
        %button#submit_order.btn_main.btn_main-pay-btn{ type: "submit" } Оплатить
        = link_to activation_account_tickets_path do
          .btn_main.btn_main-activate_ticket.activate_button Активировать билет!
  - unless current_user.bought_tickets?
    .order_coupon
      - if current_coupon
        = "Скидка по промо-коду #{current_coupon.discount}%"
      = form_for current_user, url: coupons_path, method: :post do
        %input{type: :hidden, value: url_for, name: :back_url}
        %input.input_type-1{name: "coupon", placeholder: "Введите промо-код", value: current_coupon.try(:code)}
        %button.btn_main Применить
