#order_form.order__new
  .order__new__items
    - if current_user.paid_part?
      %h3.ticket_paid
        Вы купили билет на Стачку!
    - else
      .order__new__item.order__new__item__days
        .order__new__item__name
          = t('.stachka_ticket')
        .order__new__item__price
          %h4
            %span#ticket_price_score
              = TicketOrder.ticket_price
            %span.rouble i
      .order__new__submit
        = link_to activation_account_tickets_path do
          %button#submit_order.btn_main{ type: "submit" } У меня уже есть билет!
        = simple_form_for @ticket_order, url: pay_account_buy_path, method: :put do |f|
          = hidden_field_tag :payment_system, :payanyway
          %button#submit_order.btn_main{ type: "submit" } Оплатить через PayAnyWay
        = simple_form_for @ticket_order, url: pay_account_buy_path, method: :put do |f|
          = hidden_field_tag :payment_system, :platidoma
          %button#submit_order.btn_main{ type: "submit" } Оплатить через Платидома

.orderlist
  .layout-line
    %ul.orderslist__info
      .orderslist__info__desc
        %span
        %p По всем вопросам альтернативной оплаты или отмены заказа, обращаться:
      .orderslist__info__contacts
        %a{ href: "mailto:info@nastachku.ru" } info@nastachku.ru
