= render 'orders'

= simple_form_for @user, url: account_path, html: { class: 'form-horizontal profile-form', autocomplete: 'off' } do |f|
  .personal__userpic
    .personal__userpic__upload
      = f.input :photo, as: :image_preview, label: false

    .account_lectures
      = render 'lectures', lectures: @user.lectures
  .personal__info
    - f.with_options input_html: { class: "input_type-1" } do |f|
      %ul.form__group
        %li.form__element
          = f.input :first_name, placeholder: "Имя", label: false
        %li.form__element
          = f.input :last_name, placeholder: "Фамилия", label: false
        %li.form__element
          = f.input :city, placeholder: "Город", label: false
      %ul.form__group
        %li.form__element
          = f.input :company, placeholder: "Компания", label: false
        %li.form__element
          = f.input :position, placeholder: "Должность", label: false
      %ul.form__group
        %li.form__element
          = f.input :email, placeholder: "E-mail", label: false
        %li.form__element.form__element__pass
          = f.input :old_password, placeholder: "Пароль", label: false
          %span.form__element__pass-icon.form_showpass
        %li.form__element
          = f.input :password, placeholder: "Новый пароль", label: false

    %ul.form__group
      %li.form__element
        = f.input :show_as_participant, as: :stachka_checkbox, label: false
    %ul.form__group
      %li.form__element
        = f.button :submit, t('.save'), class: 'btn_main btn_main-refresh'
  .personal__identity
    .personal__identity__social
      %ul.form__group
        - f.with_options input_html: { class: "input_type-1" } do |f|
          %li.form__element.form__element__tw
            = f.input :twitter_name, placeholder: "vasilii_pupkin", label: false
          %li.form__element.form__element__fb
            = f.input :facebook, placeholder: "http://facebook.com", as: :string, label: false
          %li.form__element.form__element__vk
            = f.input :vkontakte, placeholder: "http://vk.com", as: :string, label: false
