= simple_form_for [:admin, @user], :html => { :class => 'form-horizontal' } do |f|

  = f.input :name
  = f.input :city
  = f.input :company
  = f.input :position
  = f.input :show_as_participant
  = f.input :email
  = f.input :password
  = f.input :password_confirmation
  = f.input :state, :as => :state_event

  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
    = link_to t('.cancel'), admin_users_path, :class => 'btn'
