.page-header
  %h1=t '.title'

= simple_form_for @user, url: admin_user_path, method: :put, html: { class: 'form-horizontal' } do |f|
  = f.input :state_event, :as => :state_event
  = f.input :first_name
  = f.input :last_name
  = f.input :city
  = f.input :about, :as => :text, :input_html => { :cols => 50, :rows => 3 }
  = f.input :company
  = f.input :position
  = f.input :show_as_participant
  = f.input :admin
  = f.input :email
  = f.input :photo, as: :image_preview

  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
    = link_to t('.cancel'), admin_users_path, :class => 'btn'