.page-header
  %h1=t('.title')
  
%table.table.table-striped
  %thead
    %tr
      %th= User.human_attribute_name :id
      %th= User.human_attribute_name :name
      %th= User.human_attribute_name :state
      %th= User.human_attribute_name :type
      %th= t(".created_at")
      %th= t(".actions")
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.id, user.member? ? admin_member_path(user) : admin_speaker_path(user)
        %td= user.full_name
        %td= user.state
        %td= user.type
        %td= user.created_at
        %td
          - if user.member?
            = link_to t('.edit'), edit_admin_member_path(user), :class => 'btn btn-mini'
          - else
            = link_to t('.edit'), edit_admin_speaker_path(user), :class => 'btn btn-mini'
            
          = link_to t('.destroy'), admin_user_path(user), :method => :delete, :data => { :confirm => t('.confirm') }, :class => 'btn btn-mini btn-danger'

= link_to t('.new_member'), new_admin_member_path, :class => 'btn btn-primary'
= link_to t('.new_speaker'), new_admin_speaker_path, :class => 'btn btn-primary'