.page-header
  %h1=t('.title')

.well
  = search_form_for @search, url: admin_users_path, html: { class: 'nomargin' }, method: :get do |f|
    .row-fluid
      .span4
        = f.input_field :last_name_cont, placeholder: t(".last_name"), label: false, required: false
      .span4
        = f.input_field :first_name_cont, placeholder: t(".first_name"), label: false, required: false
      .span4
        = f.input_field :email_cont, placeholder: t(".email"), label: false, required: false

    .row-fluid
      .span4
        = f.input_field :city_cont, placeholder: t(".city"), label: false, required: false
      .span2
        = f.input :state_in, :as => :chosen_select, collection: User.state_machine.states.map { |s| [s.human_name, s.name] }, input_html: { data: { placeholder: t(".state") }}, label: false, required: false
      .span2
        = select_tag :category, options_for_category_select, include_blank: false, class: "chosen-select"
      .span4
        = f.submit t(".search"), :class => 'btn btn-primary'


%br
%br
= paginate @users
%table.table.table-striped
  %thead
    %tr
      %th= sort_link(@search, :id)
      %th= sort_link(@search, :last_name)
      %th= sort_link(@search, :first_name)
      %th= sort_link(@search, :email)
      %th= sort_link(@search, :city)
      %th= sort_link(@search, :ticket)
      %th= sort_link(@search, :afterparty_ticket)
      %th= sort_link(@search, :created_at)
      %th= t(".actions")
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.id, admin_user_path(user)
        %td= user.last_name
        %td= user.first_name
        %td= user.email
        %td= user.city
        %td
          - if user.ticket.present?
            - if user.ticket.ticket_code.present?
              Код:
              = link_to user.ticket.ticket_code, admin_ticket_code_path(user.ticket.ticket_code)
            - else
              Заказ:
              = link_to user.ticket.order, admin_order_path(user.ticket.order)
        %td
          - if user.afterparty_ticket.present?
            - if user.afterparty_ticket.ticket_code.present?
              Код:
              = link_to user.afterparty_ticket.ticket_code, admin_ticket_code_path(user.afterparty_ticket.ticket_code)
            - else
              Заказ:
              = link_to user.afterparty_ticket.order, admin_order_path(user.afterparty_ticket.order)
        %td= l user.created_at
        %td
          = link_to t('.edit'), edit_admin_user_path(user), :class => 'btn btn-mini'
          = link_to t('.destroy'), admin_user_path(user), :method => :delete, :data => { :confirm => t('.confirm') }, :class => 'btn btn-mini btn-danger'
= paginate @users
