.page-header
  %h1=t '.title'
  .row
    .span4
      %strong= Member.human_attribute_name :id
      %br= @member.id

      %strong= Member.human_attribute_name :name
      %br= @member.full_name

      %strong= Member.human_attribute_name :state
      %br= @member.state

      %strong= Member.human_attribute_name :city
      %br= @member.city
    .span4

      %strong= Member.human_attribute_name :position
      %br= @member.position

      %strong= Member.human_attribute_name :company
      %br= @member.company
      
      %strong= Member.human_attribute_name :show_as_participant
      %br= @member.show_as_participant


  .form-actions
    = link_to t('.back'), admin_users_path, :class => 'btn'
    = link_to t('.edit'), edit_admin_member_path(@member), :class => 'btn'
    = link_to t('.destroy'), admin_member_path(@member), :method => "delete", :data => { :confirm => t('.confirm') }, :class => 'btn btn-danger'  
