.page-header
  %h1=t '.title'

= link_to t('.new'), new_admin_propagator_path, class: 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th= Propagator.human_attribute_name :title
      %th= Propagator.human_attribute_name :address
      %th= Propagator.human_attribute_name :contacts
      %th
        .nowrap= Propagator.human_attribute_name :created_at
      %th= Propagator.human_attribute_name :actions
  %tbody
    - @propagators.each do |propagator|
      %tr
        %td= link_to propagator.title, admin_propagator_path(propagator)
        %td= propagator.address
        %td= propagator.contacts
        %td
          .nowrap= l propagator.created_at
        %td
          .btn-group.btn-group-vertical
            = link_to t('.edit'), edit_admin_propagator_path(propagator), class: 'btn btn-mini'
            = link_to t('.destroy'), admin_propagator_path(propagator), method: :delete, data: { confirm: t('.confirm') }, class: 'btn btn-mini btn-danger'

= link_to t('.new'), new_admin_propagator_path, class: 'btn btn-primary'
