.page-header
  %h1=t '.add_order'

.tabbable
  %ul.nav.nav-tabs
    %li= link_to t('.afterparty'), new_account_afterparty_order_path
    %li.active= link_to t('.shirt'),  new_account_shirt_order_path

= simple_form_for [:account, @shirt_order], :html => { :class => 'form-horizontal profile-form' } do |f|
  .formy
    .row-fluid
      .span2.center
        = t(".item_name")
      .span2.center
        = t(".item_color")
      .span1.center
        = t(".item_size")
      .span2.center
        = t(".item_count")
      .span3.center
        = t(".item_cost_title")
      .span2.center
        = t(".item_total_title")

    %br

    .row-fluid
      .span2.center
        = t(".t_shirt")
      .span2.center
        %select.input-small
          %option{selected: 'selected'} Белый
          %option Красный
      .span1.center
        = f.input_field :item_size, collection: ShirtOrder.item_size.options, default: 0, class: "input-mini"
      .span2.center
        = f.input_field :items_count, collection: 1..10, default: 0, class: "items-count-select input-mini"
      .span3.center
        = t(".item_cost_value")
      .span2.center
        %big
          .cost
            = t(".item_total_default")

  = f.button :submit, :value => t('.buy'), :class => 'btn btn-shine'