%h1=t '.buy_tshirt'

%p
  = t('.tshirt_promo')
  %br
  = t('.thisrt_promo_ps')
  = t('.buy_afterparty_ticket_before')
  = link_to t('.buy_afterparty_ticket_action'), new_account_afterparty_order_path
  = t('.buy_afterparty_ticket_after')
%br

.row-fluid
  .span3.left
    %img{:src => "/images/tshirt_1.png", :width => 233, :height => 253, :alt => "Футболка"}
  .span3.center
    %img{:src => "/images/tshirt_2.png", :width => 233, :height => 253, :alt => "Футболка"}
  .span3.center
    %img{:src => "/images/tshirt_3.png", :width => 233, :height => 253, :alt => "Футболка"}
  .span3.right
    %img{:src => "/images/tshirt_4.png", :width => 233, :height => 253, :alt => "Футболка"}

%br

= simple_form_for [:account, @shirt_order], :html => { :class => 'form-horizontal profile-form' } do |f|
  .formy
    .row-fluid
      .span2.center
        = t(".item_name")
      .span1.center
        = t(".item_size")
      .span2.center
        = t(".item_color")
      .span2.center
        = t(".item_count")
      .span3.center
        = t(".item_cost_title")
      .span2.center
        = t(".item_total_title")

    %br

    .row-fluid
      .span2.center
        = t(".t_shirt")
      .span1.center
        = f.input_field :item_size, collection: ShirtOrder.item_size.options, default: 0, class: "input-mini"
      .span2.center
        = f.input_field :item_color, collection: ShirtOrder.item_color.options, default: 0, class: "input-small"
      .span2.center
        = f.input_field :items_count, collection: 1..10, default: 0, class: "items-count-select input-mini"
      .span3.center
        = t(".item_cost_value")
      .span2.center
        %big
          .cost
            = t(".item_total_default")

  = f.button :submit, :value => t('.buy'), :class => 'btn btn-shine'