.page-header
  %h1=t '.add_order'

.tabbable
  %ul.nav.nav-tabs
    %li= link_to t('.afterparty'), new_account_afterparty_order_path
    %li.active= link_to t('.shirt'),  new_account_shirt_order_path

= simple_form_for [:account, @shirt_order], :html => { :class => 'form-horizontal profile-form' } do |f|
  .formy
    .control-group
      %label.control-label.center
        = t(".item_name")
      .controls
        .row-fluid
          .span3.center
            = t(".item_size")
          .span3.center
            = t(".item_count")
          .span3.center
            = t(".item_cost_title")
          .span3.center
            = t(".item_total_title")
    .control-group
      %label.control-label.center
        = t(".t_shirt")
      .controls
        .row-fluid
          .span3.center
            = f.input_field :item_size, collection: ShirtOrder.item_size.options, class: "input-mini"
          .span3.center
            = f.input_field :items_count, collection: 0..10, default: 1, class: "items-count-select input-mini"
          .span3.center
            = t(".item_cost_value")
          .span3.center
            %big
              .cost
                = t(".item_total_default")

  = f.button :submit, :value => t('.buy'), :class => 'btn btn-shine'