.pagetitle.pagetitle__lectures
  .layout-line
    %h1.pagetitle__title Доклады
    .pagetitle__select.pagetitle__select__lecture
      - current_workshop = params[:q].present? ? params[:q]['workshop_id_eq'] : '';
      = select_tag :filter_by_workshop, options_for_select([["Все доклады", " "]] + @workshops.collect{ |w| [w.title, w.id, {'data-icon' => w.icon}]}, current_workshop), class: "custom_select"
.content.lectures
  .layout-line
    %ul#lectures.lectures__items
      = render 'lectures'

= javascript_include_tag "web/fancySelect"
:javascript
  if ("#{@lecture_id}" != "") {
    window.location.hash = "lecture_#{@lecture_id}"
  }
