%h1=t(".events")

.row.workshop
  .span3
    %ul.nav.nav-list.b-affix
      - workshops.each do |workshop|
        = item :li, workshop, lectures_path(workshop_id_eq: workshop.id)

  .span9
    - @lectures.each do |lecture|
      .row-fluid.event-item
        .span4.sinfo
          .col-l
            %h5= link_to lecture.user.decorate.reverse_full_name, lectors_path(anchor: lecture.user)
            %h6
              %strong= lecture.user.company
            .pic
              - if lecture.user.photo.url
                = image_tag(lecture.user.photo.url)

            %a.twitter-share-button{href: "https://twitter.com/share", data: {lang: "ru", text: "#{t(".twitter_i_am_going")} '#{lecture.title.truncate(90)}'", count: 'none', hashtags: 'nastachku'}}
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        .span8
          %h4= lecture.title
          %p.ainfo= nl2br lecture.thesises
        .clearfix
