.pagetitle.pagetitle__lectures
  .layout-line
    %h1.pagetitle__title Доклады
    .pagetitle__select.pagetitle__select__lecture
      %select.custom_select
        %option Техническая секция
        %option Мобильная разработка
        %option Стартапы
        %option Digital-коммуникации
        %option IT-проекты
        %option Менеджмент
        %option{ selected: "selected" } Все доклады
.content.lectures
  .layout-line
    %ul.lectures__items
      - @lectures.each do |lecture|
        %li.lectures__item
          .lectures__item-img
            = image_tag lecture.user.photo, width: 350
            = lecture.workshop_color_icon
          .lectures__item-name
            %b
              = lecture.user.decorate.full_name
            = lecture.user.company
            ,
            = lecture.user.position
          .lectures__item-about
            %h4
              = lecture.title
          .lectures__item-desc
            %p.open_this
              = lecture.thesises
          - if signed_in?
            .lectures__item__adding
              .lectures__item__add
                = link_to api_lecture_listener_votings_path(lecture), class: (lecture.listener_votings.voted_by?(current_user)) ?  "vote-link action-unvote" : "vote-link action-vote", remote: true, method: (lecture.listener_votings.voted_by?(current_user)) ? "delete" : "post" do
                  %span.lectures__item__add-add
                    Я пойду на доклад
              %p.lectures__item__add-added Доклад добавлен в вашу программу
            .lectures__item-social
              %p.open_this Поделиться с друзьями:
              %a.social__icon.social__icon-tw{ href: "#" }
              %a.social__icon.social__icon-fb{ href: "#" }
              %a.social__icon.social__icon-vk{ href: "#" }
