= simple_form_for @user, :url => account_password_path(auth_token: params[:auth_token]), :method => :put, html: { class: 'form-type-login' } do |f|
  .row
    .span6
      .formy
        %h5= t('.password_reset')
        = f.input :password, input_html: { class: 'input-xlarge' }
        = f.input :password_confirmation, input_html: { class: 'input-xlarge' }
      = f.button :submit, :value => t(".reset"), :class => 'btn btn-shine'