= simple_form_for @member, :url => account_member_path(@member), :html => { :class => 'form-horizontal' } do |f|

  = f.input :email
  = f.input :name
  = f.input :city
  = f.input :company
  = f.input :show_as_participant
  = f.input :position

  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
