.page-header
  %h1=t '.title'

= paginate @orders

%table.table.table-striped
  %thead
    %tr
      %th= sort_link(@search, :id)
      %th= sort_link(@search, :user_id, t(".buyer"))
      %th= sort_link(@search, :items_count)
      %th= t(".cost")
      %th= sort_link(@search, :payment_state)
      %th= sort_link(@search, :created_at)
  %tbody
    - @orders.each do |order|
      %tr
        %td= link_to order.id, admin_order_path(order.id)
        %td= link_to order.user, admin_user_path(order.user) if order.user
        %td= order.items_count
        %td= order.cost
        %td= order.human_payment_state_name
        %td= l order.created_at

= paginate @orders
