%tr
  %td= link_to ticket_code.id, admin_ticket_code_path(ticket_code.id)
  %td= link_to ticket_code.distributor.title, admin_distributor_path(ticket_code.distributor)
  %td= ticket_code.kind
  %td= ticket_code.price
  %td= ticket_code.code
  %td= ticket_code.human_state_name
  %td
    - if ticket_code.active?
      - ticket = ticket_code.ticket || ticket_code.afterparty_ticket
      = link_to ticket.user, admin_user_path(ticket.user.id) if ticket

  %td
    .nowrap= l ticket_code.created_at
  %td= link_to t('.destroy'), admin_ticket_code_path(ticket_code), method: :delete, data: { confirm: t('.confirm') }, class: 'btn btn-mini btn-danger' if ticket_code.can_delete?
