.page-header
  %h1= link_to t('.title'), admin_ticket_codes_path

= link_to t('.new'), new_admin_ticket_code_path, class: 'btn btn-primary'

%h3= t('.total', count: @ticket_codes.total_count)

.well
  = search_form_for @search, url: admin_ticket_codes_path, html: { class: 'nomargin' }, method: :get do |f|
    .row-fluid
      .span3
        = f.search_field :code_cont, placeholder: TicketCode.human_attribute_name(:code), label: false, required: false
      .span3
        = f.search_field :ticket_user_last_name_or_afterparty_ticket_user_last_name_cont, placeholder: User.human_attribute_name(:last_name), label: false, required: false
      .span3
        = f.search_field :ticket_user_first_name_or_afterparty_ticket_user_first_name_cont, placeholder: User.human_attribute_name(:first_name), label: false, required: false
    .row-fluid
      .span3
        = f.input :kind_eq, as: :chosen_select, collection: TicketCode.kinds, placeholder: 'Все типы', label: false, required: false
      .span3
        = f.input :state_eq, as: :chosen_select, collection: TicketCode.state_names, placeholder: 'Все состояния', label: false, required: false
      .span3
        = f.input :category_eq, as: :chosen_select, collection: TicketCode.categories, placeholder: 'Все категории', label: false, required: false
    .row-fluid
      .span6
        = f.input :distributor_id_eq, as: :chosen_select, collection: Distributor.asc_by(:title).collect{|c| [c.to_s, c.id]}, placeholder: 'Все распространители', label: false, required: false
      .span3
        = f.submit t(".search"), :class => 'btn btn-primary'
        = link_to t(".reset"), admin_ticket_codes_path, :class => 'btn btn-primary'

= paginate @ticket_codes

%table.table.table-striped
  %thead
    %tr
      %th= TicketCode.human_attribute_name :id
      %th= TicketCode.human_attribute_name :distributor
      %th= TicketCode.human_attribute_name :kind
      %th= TicketCode.human_attribute_name :price
      %th= TicketCode.human_attribute_name :code
      %th= TicketCode.human_attribute_name :state
      %th= Ticket.human_attribute_name :user
      %th
        .nowrap= TicketCode.human_attribute_name :created_at
      %th= TicketCode.human_attribute_name :actions
  %tbody
    = render @ticket_codes

= paginate @ticket_codes


= link_to t('.new'), new_admin_ticket_code_path, class: 'btn btn-primary'
