.page-header
  %h1=t '.category'

= link_to t('.new'), new_admin_ticket_code_path, class: 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th= TicketCode.human_attribute_name :category
      %th= TicketCode.human_attribute_name :propagator
      %th= TicketCode.human_attribute_name :code
      %th
        .nowrap= TicketCode.human_attribute_name :created_at
  %tbody
    - @ticket_codes.each do |ticket_code|
      %tr
        %td= ticket_code.category
        %td= ticket_code.propagator.title
        %td= ticket_code.code
        %td
          .nowrap= l ticket_code.created_at

= link_to t('.new'), new_admin_ticket_code_path, class: 'btn btn-primary'
