.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .container.nav-collapse
        %ul.nav
          %li= link_to t('.pages'),  admin_pages_path
          %li= link_to t('.news'),   admin_news_index_path
          %li= link_to t('.lectures'), admin_lectures_path
          %li= link_to t('.user_lectures'), admin_lectures_path(q: { state_in: [:new, :voted] })
          %li= link_to t('.halls'), admin_halls_path
          %li= link_to t('.workshops'), admin_workshops_path
          %li= link_to t('.events'), admin_events_path
          %li= link_to t('.users'),   admin_users_path
          %li= link_to t('.audits'),   admin_audits_path
          %li= link_to t('.orders'), admin_orders_path
          %li= link_to t('.mailers'),   admin_mailers_path
          %li= link_to t('.Resque'),   admin_resque_path
        %ul.nav.nav-collapse.pull-right
          %li= link_to t('.logout'), session_path, :method => :delete
