!!!
%html{ lang: "ru" }
  %head
    /[if IE] <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport" }
    %title= custom_title
    %link{ href: "/assets/favicon.ico", rel: "icon", type: "image/x-icon" }
    %link{ href: "/assets/favicon.ico", rel: "shortcut icon", type: "image/x-icon" }
    %meta{ charset: "utf-8" }
    - meta_tags.each do |name, content|
      %meta{ content: content, name: name }
    %meta{ content: "Стачка!", property: "og:site_name" }
    - if @lecture_id and @lecture_by_id
      %meta{ content: "#{root_url}#{@lecture_by_id.lector_photo if @lecture_by_id.lector_photo}", property: "og:image" }
      %meta{ content: "455", property: "og:image:width" }
      %meta{ content: "450", property: "og:image:height" }
      %meta{ content: @lecture_by_id.thesises, property: "og:description" }
      %meta{ content: "#{@lecture_by_id.title}(#{@lecture_by_id.lector_name})", property: "og:title" }
      %meta{ content: "#{lectures_url}?lecture_id=#{@lecture_id}", property: "og:url" }
    - else
      %meta{ content: "http://nastachku.ru/images/og_image.png", property: "og:image" }
      %meta{ content: "250", property: "og:image:width" }
      %meta{ content: "250", property: "og:image:height" }
      %meta{ content: "http://nastachku.ru/", property: "og:url" }
    = csrf_meta_tag
    = stylesheet_link_tag "web/application"
    = javascript_include_tag "application"
    = include_gon
    = render 'layouts/web/shared/google_analytics'
  %body
    = render 'layouts/web/shared/yandex_metrics'
    = render "layouts/web/shared/retarget"
    #layout
      = render "layouts/web/shared/header"
      = render "layouts/web/shared/plaha"
      = bootstrap_flash
      = yield
      - unless in_account?
        = render_sponsor_list :organizers
        = render_sponsor_list :strategy
        = render_sponsor_list :syberfootball
        = render_sponsor_list :general
        = render_sponsor_list :platin
        = render_sponsor_list :gold
        = render_sponsor_list :silver
        = render_sponsor_list :technical
        = render_sponsor_list :web
        = render_sponsor_list :internet
        = render_sponsor_list :mail
        = render_sponsor_list :digital
        = render_sponsor_list :analytics
        = render_sponsor_list :general_info
        = render_sponsor_list :info
        = render_sponsor_list :intellectual
      = render "layouts/web/shared/footer"
    #overlay.overlay
    - unless current_user
      = render "layouts/web/shared/authpopup"
