!!! 5
%html(lang="en")
  %head
    = render "layouts/web/shared/header"
    = render "layouts/web/shared/head"

  %body
    = render "layouts/web/shared/navigation"
    .container
      .content
        = bootstrap_flash
        = yield

      %br/
      = render "layouts/web/shared/footer"
