!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %link{:href => "/favicon.ico", :rel => "icon", :type => "image/x-icon"}/
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    %meta{:content => "http://nastachku.ru/assets/fb_logo.png", :property => "og:image"}
    %title= content_for?(:title) ? yield(:title) : "Nastachku"
    = analytics_init if Rails.env.production?
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"

  %body
    .main
      = render "layouts/web/shared/header"
      = render "layouts/web/shared/navigation"
      .container
        .content
          = bootstrap_flash
          = yield

        %br/

    = render "layouts/web/shared/counters"
    = render "layouts/web/shared/footer"