- if flash[:success]
  = flash[:success]
  %br

= simple_form_for @type, url: session_path(from: params[:from]), html: { class: 'form-type-login' } do |f|
  .layout-line
    = f.input :email, tabindex: 1, input_html: { value: @email, class: 'input_type-1' }
    = f.input :password, tabindex: 2, input_html: { class: 'input_type-1' }
    %br
    = f.button :submit, value: t('.login'), class: 'btn_main btn_main-auth', tabindex: 3
  .pull-left
    = link_to sign_in_via_social_network_cpath(:facebook), class: 'social-auth-enter' do
      %i.ficon-facebook-rect
    .pull-right
      = link_to t('.remind_password'), new_remind_password_path

%br
Ещё не зарегистрировались?!

= link_to 'Сделайте это прямо сейчас!', new_user_path, tabindex: 4, onclick: "try{ga('send', 'event', 'users', 'register');}catch(e){}"
