
.row
  .span6
    .formy
      %h5= t '.login'
      .form
        = simple_form_for @user, url: session_path, html: { class: 'form-type-login' } do |f|

          = f.input :email, :tabindex => 1
          = f.input :password, :tabindex => 2

          .form-actions
            = f.button :submit, :value => t('.login'), :class => 'btn', :tabindex => 3

          Ещё не зарегистрировались?!

          %a{ :href => new_user_path, :tabindex => 4}
            Сделайте это прямо сейчас!
