
.row
  .span6
    .formy
      %h5= t '.login'
      .form
        = simple_form_for :user, url: session_path, html: { class: 'form-horizontal' } do |f|
          .control-group
            = f.input :email
        
          .control-group
            = f.input :password

          .form-actions
            = f.button :submit, :class => 'btn'

          Ещё не зарегистрировались?!

          %a{ :href => new_member_path }
            Сделайте это прямо сейчас!
