= simple_form_for @type, url: session_path, html: { class: 'form-type-login' } do |f|
  .row
    .span6
      .formy
        %h5= t '.login'
        = f.input :email, :tabindex => 1
        = f.input :password, :tabindex => 2

      .clearfix
        .pull-left
          = f.button :submit, :value => t('.login'), :class => 'btn btn-shine', :tabindex => 3
        .pull-right
          = link_to t('.remind_password'), new_remind_password_path

      %br
      Ещё не зарегистрировались?!

      %a{ :href => new_user_path, :tabindex => 4}
        Сделайте это прямо сейчас!
