%h1= @workshop

.span12.workshop
  - @events.each do |event|
    .row
      .span6
        .col-l
          .pic
            - if event.speaker.photo.url
              = image_tag(event.speaker.photo.url)
        .col-r
          .sinfo
            %h5= link_to event.speaker.reverse_full_name, lectors_path(anchor: event.speaker)
            %h6
              %strong= event.speaker.company
            .buttons-group{ data: { success: t('.already_going') } }
              - if signed_in?
                - if event.listener_votings.voted_by?(current_user)
                  .btn.btn-no-clickable= t('.already_going')
                - else
                  = link_to t('.i_am_going'), api_user_event_listener_votings_path(event), remote: true,  method: :post, class: 'vote-event btn btn-shine'
              - else
                .btn.btn-no-clickable= t('.they_going')
              %span.btn.votings-count.btn-no-clickable
                = event.listener_votings.size
            -#%h6.grey= event.speaker.about
            -#.social
            -#  %a.tip{"data-original-title" => "Facebook", :href => "#"}
            -#    %i.icon-facebook.facebook
        .clearfix
      .span6
        %h4= event.title
        %p.ainfo= filter event.thesises
    %hr
