%h1=t(".events")

.row.workshop
  .span3
    %ul.nav.nav-list.b-affix
      - workshops.each do |workshop|
        %li{ class: workshop.id == params[:workshop_id_eq].to_i ? 'active' : '' }
          = link_to workshop, events_path(workshop_id_eq: workshop.id)

  .span9
    - @events.each do |event|
      .row-fluid
        .span4.sinfo
          .col-l
            %h5= link_to event.speaker.reverse_full_name, lectors_path(anchor: event.speaker)
            %h6
              %strong= event.speaker.company
            .pic
              - if event.speaker.photo.url
                = image_tag(event.speaker.photo.url)
            .buttons-group{ data: { success: t('.already_going') } }
              - if signed_in?
                - if event.listener_votings.voted_by?(current_user)
                  .btn.btn-no-clickable= t('.already_going')
                - else
                  = link_to t('.i_am_going'), api_user_event_listener_votings_path(event), remote: true,  method: :post, class: 'vote-event btn btn-shine'
              - else
                .btn.btn-no-clickable= t('.they_going')
              %span.btn.votings-count.btn-no-clickable
                = event.listener_votings.size
        .span8
          %h4= event.title
          %p.ainfo= nl2br event.thesises
        .clearfix
