.page-header
  %h1=t '.title'

= link_to t('.new'), new_admin_page_path, :class => 'btn btn-primary'

= paginate @pages

%table.table.table-striped
  %thead
    %tr
      %th= Page.human_attribute_name :slug
      %th= Page.human_attribute_name :title
      %th= Page.human_attribute_name :body
      %th
        .nowrap= Page.human_attribute_name :created_at
      %th= Page.human_attribute_name :actions
  %tbody
    - @pages.each do |page|
      %tr
        %td= link_to page.slug, admin_page_path(page)
        %td= page.title
        %td= sanitize(page.body, :tags=>[]).truncate(240)
        %td
          .nowrap= l page.created_at
        %td
          .btn-group.btn-group-vertical
            = link_to t('.edit'), edit_admin_page_path(page), :class => 'btn btn-mini'
            = link_to t('.destroy'), admin_page_path(page), :method => :delete, :data => { :confirm => t('.confirm') }, :class => 'btn btn-mini btn-danger'

= link_to t('.new'), new_admin_page_path, :class => 'btn btn-primary'

= paginate @pages
