.page-header
  %h1=t '.title'

= link_to t('.new'), new_admin_page_path, :class => 'btn btn-primary'

= paginate @pages

%table.table.table-striped
  %thead
    %tr
      %th= sort_link(@search, :slug)
      %th= sort_link(@search, :title)
      %th= sort_link(@search, :body)
      %th= sort_link(@search, :created_at)
      %th= Page.human_attribute_name(:actions)
  %tbody
    - @pages.each do |page|
      %tr
        %td= link_to page.slug, admin_page_path(page)
        %td= page.title
        %td= sanitize(page.body, :tags=>[]).truncate(240)
        %td= l page.created_at
        %td
          = link_to t('.edit'), edit_admin_page_path(page), :class => 'btn btn-mini'
          = link_to t('.destroy'), admin_page_path(page), :method => :delete, :data => { :confirm => t('.confirm') }, :class => 'btn btn-mini btn-danger'

= link_to t('.new'), new_admin_page_path, :class => 'btn btn-primary'

= paginate @pages