- if @user.errors.any?
  #error_explanation
    %ul
      - @user.errors.full_messages.each do |msg|
        %li
          %h4= msg
= simple_form_for @user, url: [:registrator, @user], html: { class: 'form-horizontal admin-user-edit-form' } do |f|
  .row
    .span10
      = f.input :first_name, input_html: { class: 'span5' }
      = f.input :last_name, input_html: { class: 'span5' }
      = f.input :company, input_html: { class: 'span5' }
      = f.input :badge_state_event, as: :state_event, input_html: { class: :span5 }

  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
    = link_to t('.cancel'), registrator_root_path, :class => 'btn'
