- model = User
.page-header

  = link_to t(".view_all"), registrator_users_path, class: 'btn btn-primary btn-large'
  = link_to t(".new_user"), new_registrator_user_path, class: 'btn btn-info btn-large'
.well
  = simple_form_for @search, url: registrator_users_path, html: { class: 'nomargin' }, method: :get do |f|
    .row-fluid
      .span4
        = f.input_field :last_name_cont, placeholder: t(".last_name"), label: false, required: false
      .span4
        = f.input_field :first_name_cont, placeholder: t(".first_name"), label: false, required: false
      .span4
        = f.input_field :email_cont, placeholder: t(".email"), label: false, required: false

    .row-fluid
      .span4
        = f.input_field :city_cont, placeholder: t(".city"), label: false, required: false
      .span4
        = f.input :badge_state_in, as: :chosen_select, collection: User.state_machines[:badge_state].states.map { |s| [s.human_name, s.name] }, input_html: { data: { placeholder: t(".badge_state") }, class: :span4}, label: false, required: false
      .span4
        = f.submit t(".search"), class: 'btn btn-primary'

-#= link_to t('.new_user'), new_admin_user_path, :class => 'btn btn-primary'
%br
%br
%ul.nav.nav-tabs
  %li.active
    %a{href:"#users_without_badge", data: {toggle: "tab"}}
      = t('.users_without_badge')
  %li
    %a{href:"#users_with_badge", data: {toggle: "tab"}}
      = t('.users_with_badge')
.tab-content
  .tab-pane.active#users_without_badge
    = render "users", users: @users_without_badge
  .tab-pane#users_with_badge
    = render "users", users: @users_with_badge
  
-#= link_to t('.new_user'), new_admin_user_path, :class => 'btn btn-primary'
