- model = User
.page-header

.well
  = simple_form_for @search, url: registrator_users_path, html: { class: 'nomargin' }, method: :get do |f|
    .row-fluid
      .span4
        = f.input_field :last_name_cont, placeholder: t(".last_name"), label: false, required: false
      .span4
        = f.input_field :first_name_cont, placeholder: t(".first_name"), label: false, required: false
      .span4
        = f.input_field :email_cont, placeholder: t(".email"), label: false, required: false

    .row-fluid
      .span4
        = f.input_field :city_cont, placeholder: t(".city"), label: false, required: false
      .span4
        = f.input :badge_state_in, as: :chosen_select, collection: User.state_machines[:badge_state].states.map { |s| [s.human_name, s.name] }, input_html: { data: { placeholder: t(".badge_state") }, class: :span4}, label: false, required: false
      .span4
        = f.submit t(".search"), class: 'btn btn-primary'


-#= link_to t('.new_user'), new_admin_user_path, :class => 'btn btn-primary'
%br
%br
= paginate @users
%table.table.table-striped
  %thead
    %tr
      %th= sort_link(@search, :id)
      %th= sort_link(@search, :last_name)
      %th= sort_link(@search, :first_name)
      %th= sort_link(@search, :email)
      %th= sort_link(@search, :city)
      %th= sort_link(@search, :pay_state)
      %th= sort_link(@search, :badge_state)
      %th= sort_link(@search, :created_at)
      %th= t('.actions')
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.id, admin_user_path(user)
        %td= user.last_name
        %td= user.first_name
        %td= user.email
        %td= user.city
        %td= I18n.t("activerecord.state_machines.user.pay_state.states.#{user.pay_state}")
        %td= I18n.t("activerecord.state_machines.user.badge_state.states.#{user.badge_state}")
        %td=l user.created_at
        - if user.not_get_badge?
          %td= link_to t('.give_badge'), give_badge_registrator_user_path(user), method: :put, class: 'btn btn-success btn-mini'
        - else
          %td= t('.badge_gived')
= paginate @users

-#= link_to t('.new_user'), new_admin_user_path, :class => 'btn btn-primary'
