- model = User
.row-fluid
  .span3
    = link_to t('.users_without_badge'), registrator_root_path
  .span3
    = link_to t('.users_with_badge'), with_badge_registrator_users_path
.page-header

  = link_to t(".new_user"), new_registrator_users_path, class: 'btn btn-info btn-large'
.well
  = search_form_for @search, url: with_badge_registrator_users_path, html: { class: 'nomargin' }, method: :get do |f|
    .row-fluid
      .span4
        = f.input_field :last_name_cont, placeholder: t(".last_name"), label: false, required: false
      .span4
        = f.input_field :first_name_cont, placeholder: t(".first_name"), label: false, required: false
      .span4
        = f.input_field :email_cont, placeholder: t(".email"), label: false, required: false

    .row-fluid
      .span4
        = f.input_field :city_cont, placeholder: t(".city"), label: false, required: false
      .span4
      .span1
        = f.submit t(".search"), class: 'btn btn-primary'
      .span3
        = link_to t(".view_all"),  with_badge_registrator_users_path, class: 'btn btn-primary'

-#= link_to t('.new_user'), new_admin_user_path, :class => 'btn btn-primary'
%br
%br
= render "users", users: @users

-#= link_to t('.new_user'), new_admin_user_path, :class => 'btn btn-primary'
