= paginate @audits

%table.table.table-striped
  %thead
    %tr
      %th= sort_link(@search, :auditable_id, Auditable::Audit.human_attribute_name(:auditable_id))
      %th= sort_link(@search, :auditable_type, Auditable::Audit.human_attribute_name(:auditable_type))
      %th= sort_link(@search, :user, Auditable::Audit.human_attribute_name(:user))
      %th= sort_link(@search, :modifications, Auditable::Audit.human_attribute_name(:modifications))
      %th= sort_link(@search, :action, Auditable::Audit.human_attribute_name(:action))
      %th= sort_link(@search, :created_at, Auditable::Audit.human_attribute_name(:created_at))
  %tbody
    - @audits.each do |audit|
      %tr
        %td= audit.auditable_id
        %td= audit.auditable_type
        %td= audit.user
        %td= debug audit.modifications
        %td= audit.action
        %td= l audit.created_at

= paginate @audits