= paginate @audits

%table.table.table-striped
  %thead
    %tr
      %th= Auditable::Audit.human_attribute_name :auditable_id
      %th= Auditable::Audit.human_attribute_name :auditable_type
      %th= Auditable::Audit.human_attribute_name :user
      %th= Auditable::Audit.human_attribute_name :modifications
      %th= Auditable::Audit.human_attribute_name :action
      %th= Auditable::Audit.human_attribute_name :created_at
  %tbody
    - @audits.each do |audit|
      %tr
        %td= audit.auditable_id
        %td= audit.auditable_type
        %td= audit.user
        %td= debug audit.modifications
        %td= audit.action
        %td= l audit.created_at

= paginate @audits