= paginate @audits

%table.table.table-striped
  %thead
    %tr
      %th= sort_link(@search, :auditable_id)
      %th= sort_link(@search, :auditable_type)
      %th= sort_link(@search, :user)
      %th= sort_link(@search, :modifications)
      %th= sort_link(@search, :action)
      %th= sort_link(@search, :created_at)
  %tbody
    - @audits.each do |audit|
      %tr
        %td= audit.auditable_id
        %td= audit.auditable_type
        %td= audit.user
        %td= debug audit.modifications
        %td= audit.action
        %td= l audit.created_at

= paginate @audits