%tr
  %td= event.title
  %td.center= l event.created_at
  %td.center= event.human_state_name
  %td.center
    .btn-group.pull-right
      %a.btn.btn-mini.edit-event
        %i.icon-pencil
%tr
  %td.no-padding( colspan="4" )
    - if @updated
      .alert.alert-success
        Доклад успешно обновлен!
        %button.close{"data-dismiss" => "alert", :type => "button"} &times;
    = simple_form_for event, url: account_event_path(event), remote: true, html: { class: 'edit-event' }  do |event|
      .formy.formy-issue.nested-fields
        .row-fluid
          .span12
            = event.input :title, input_html: { class: 'span12' }
            = event.input :thesises, input_html: {rows: 5, class: 'span12' }
        .row-fluid
          .span3
            = event.submit 'Сохранить', class: 'btn btn-shine'
