.span12
  - @events.each do |event|
    .row.workshop
      .span6
        .col-l
          .pic
            - if event.speaker.photo.url
              = image_tag(event.speaker.photo.url)
        .col-r
          .sinfo
            %h5= event.speaker.full_name
            %h6
              %strong= event.speaker.company
            -#.social
            -#  %a.tip{"data-original-title" => "Facebook", :href => "#"}
            -#    %i.icon-facebook.facebook
        .clearfix
      .span6
        %h4= event.title
        %p.ainfo= event.thesises.html_safe
        .buttons-group
          -if signed_in?
            - if current_user.voted?(event)
              .btn= t('.already_voted')
            - else
              = link_to t('.vote_this_lecture'), user_event_vote_path(event), method: :post, class: 'btn btn-shine'
          %span.btn.votings-count
            = event.votings.size
            = Russian.pluralize(event.votings.size, 'голос', 'голоса', 'голосов')
    %hr

.clearfix