!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Nastachku"
    = csrf_meta_tags
    = stylesheet_link_tag "admin/application", :media => "all"
    = javascript_include_tag "admin/application"

  %body
    = render "layouts/web/admin/shared/navigation"
    .container
      .content
        = bootstrap_flash
        = yield

      %br/
      = render "layouts/web/admin/shared/footer"
