!!! 5
%html(lang="en")
  %head
    = render "layouts/shared/head"

  %body
    = render "layouts/shared/navigation"
    .container
      .content
        = bootstrap_flash
        = yield
    
    = render "layouts/shared/footer"
